[2018-02-13 22:15] jpds opened #308 "Example manifests should ship with Prometheus annotations"
The example manifests in `daemonset/` should ship with Prometheus metrics enabled out of the box.

[2018-02-13 22:32] jpds commented on #102
I would be curious to see what the results are with:

a) jumbo frames
b) one of the 25G instance types from https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/enhanced-networking.html

[2018-02-14 00:08] dimm0 commented on #102
We already have a cluster setup with 10, 40 and 100G nodes and PerfSonar measurements between all hosts, and so far the results are not great because of lack of jumbo frames support. Once it's done, I can provide some info

[2018-02-14 09:42] roffe commented on #308
Hi @jpds and thanks for the feedback!

As of 0.1.0-rc2 metrics has to be explicitly enabled by the user.

Since the user has to choose the port for metrics I see no reason adding the annotations as the user would have to change them according to what metric port they choose.

Please follow the instructions [here](https://github.com/cloudnativelabs/kube-router/blob/master/Documentation/metrics.md)

[2018-02-14 09:42] #308 closed

[2018-02-14 09:45] roffe commented on #308
To elaborate:

Metrics is not enabled by default as most users is gonna run kube-router as a daemonset with host networking meaning the default metrics port *might* collide with existing applications port usage. Therefore it's better not to make assumptions and let the operator configure this according to their own desires.

[2018-02-14 10:10] roffe commented on #162
Alrighty then. I'll take a shot at this :)

[2018-02-14 10:33] Daviey opened #309 "Multicast support"
It doesn't seem that multicast is currently functional, is this something that could be supported?

[2018-02-14 12:05] murali-reddy commented on #309
@Daviey sorry for dumb question. How multicast is expected to be supported? Can you give details what a CNI plugin is expected do to achive it.

[2018-02-14 12:08] murali-reddy commented on #307
@jpds honestly not much thought went in to supporting IPv6 at this point. But looks like at some point kube-router should start supporting it. If there is need from multiple users then cetainly support for IPv6 can be prioiritzed.

[2018-02-14 12:26] murali-reddy commented on #309
Thanks for the pointers. Will take a look.

[2018-02-15 12:38] geosword commented on #307
+1

[2018-02-16 15:33] tiukhtinvladimir opened #310 "kuber-router does not work with loadbalancer"
MetalLB - load balancer for bare metal installations. It works perfect with kube-proxy but not with kube-router. Help! I like kube-router - do not want go back to kube-proxy

[2018-02-16 17:03] tiukhtinvladimir commented on #310
I found out that kube-router does not respect service with type loadbalancer and not create ipvs rules for this

[2018-02-16 17:25] murali-reddy commented on #310
@tiukhtinvladimir Yes, it does not supprt service type LoadBalancer yet. There is an issue opened for it https://github.com/cloudnativelabs/kube-router/issues/242. However kube-router supports advertising cluster-ip and external-ip to the BGP peers. You could actually do ECMP load balancing. All the necessary functionality is there, it just needs to be made available through LoadBalancer service t

[2018-02-16 18:55] tiukhtinvladimir commented on #310
@murali-reddy thanks for your prompt response. I am using metallb in ARP mode (not BGP). So on a router side I do 1:1 NAT to IP advertising by metallb. Advantage is that metallb control the VIP and move it on node failure.

[2018-02-16 19:07] TjWallas opened #311 "Mis-leading error msg if br_netfilter is not provided as a kernel module"
In older versions of the linux kernel, br_netfilter was built-in and not provided as a separate kernel module. See: http://ebtables.netfilter.org/documentation/bridge-nf.html (flashing text on top).

As a result, this error msg is **mistakenly** logged when trying to `modprobe br_netfilter` on these systems:
[code]
See: https://github.com/cloudnativelabs/kube-router/blob/617c7736557ce5254516685d8a

[2018-02-16 21:51] danderson commented on #242
As a basic thing, you could just make kube-router program IPVS when it sees a Service with status.loadBalancer.ingress[*].ip . That field is what kube-proxy looks at to program correct routing for LoadBalancer services. The IPVS behavior should be exactly the same as externalIPs, so it should be a pretty trivial change in kube-router.

Once you've done that, kube-router should be compatible (at a

[2018-02-17 19:04] SEJeff commented on #310
@tiukhtinvladimir as @murali-reddy mentioned, you can simply add an external ip to the service definition to advertise a vip. If you just want a load balanced service ip, metallb isn't strictly necessary. Also, the arp mode isn't very scalable, per metallb's own docs. The bgp advertised externalip is quite scalable by comparison.

I use this exact same trick to have a highly available vip for my i

[2018-02-18 06:38] #287 closed

[2018-02-18 06:59] murali-reddy commented on #242
@danderson thanks for your comments. Your input make perfect sense.

We will also revisit metallb integration to make it work with Kube-Router. There are users who wish to use kube-router just as service proxy so there is no reason why kube-router cannot work with metal LB (as BGP is no longer in conflicting point).

[2018-02-18 19:58] alebsack opened #313 "Failed to disable source destination check due to: RequestLimitExceeded: Request limit exceeded."
Running `v0.1.0-rc2` When running a cluster in AWS with more than ~30 nodes across three AZs, I start getting this:

[code]

Looking at the code, every instance of kube-router simply tries to disable the SourceDestCheck on every other node in the cluster.  This ends up ultimately leaving some nodes with SourceDestCheck never disabled.

I'm also getting a lot of these, though I'm not sure if relate

[2018-02-19 03:51] murali-reddy commented on #313
@alebsack thanks for reporting the issue.

Are you using KOPS or custome installer?

I usually use KOPS to test large cluster. In kops only master node has necessary IAM to access EC2 api, so never ran into this issue. But I agree there is no point each node trying to disable src-dst check for rest of the nodes.

Health check failure is due to failure to setup crticial step (disabling src-dst chec

[2018-02-19 05:42] murali-reddy opened #314 "Use golang 1.10 to fix potential issues in DSR due to Golang limitations"
As noted in #258

https://www.weave.works/blog/linux-namespaces-and-go-don-t-mix
https://github.com/docker/libnetwork/issues/1113
https://groups.google.com/forum/#!topic/golang-dev/6G4rq0DCKfo/discussion

Go lang 1.10 is relased with the fix for https://github.com/golang/go/issues/20676

[2018-02-19 09:54] alebsack commented on #313
@murali-reddy Thanks for the response.  Yes, I am using KOPS.  I did notice that this is not a problem in `us-west-2`, however a cluster of mine in `eu-west-1` is acting differently -- the nodes are able to call ModifyInstanceAttribute (though the IAM policies in both clusters are identical).  I'll have to open an issue with AWS on that one.

[2018-02-20 17:00] t3hmrman commented on #286
Just coming to say that I just ran into this, and I think it *is* required.

I wasn't getting "Failed to create pod sandbox" errors, but the network was just silently failing. `kube-router` automatically detected a cidr to use for my cluster (`10.244.1.0/24`), but I noticed that all the nodes actually had IPs like `10.244.0.41`. I thought maybe this wasn't a problem (I also was using canal before

[2018-02-20 17:55] murali-reddy commented on #286
Thanks @t3hmrman for sharing.

[2018-02-20 20:49] t3hmrman opened #316 "Is hairpin-mode required for kube-dns?"
Hey all, thanks for the work on `kube-router`!

I apologize if this is a simple mistake, but am I right in assumign that `kube-router` does *not* replace `kube-dns`? I'm trying to get `kube-dns` to work on top of `kube-router` (ClusterIP <-> ClusterIP connections work just fine), but I'm having a problem getting names to actually resolve.

As far as why this might be happening, I'm thinking that t

[2018-02-21 10:59] murali-reddy commented on #316
@t3hmrman So you are not able to get functioning kube-dns service? There is no need for hairpin mode. Any pod should be able to access cluster ip of DNS service.

even if you delete the pod you still have issue with DNS resolution?

[2018-02-21 14:00] Matty9191 opened #317 "Pod Toolbox documentation issue"
I think the "Logging In" info needs to be updated on the following page:

https://github.com/cloudnativelabs/kube-router/blob/master/Documentation/pod-toolbox.md

The documentation contains the following shell snippet:

KR_POD="basename $(kubectl -n kube-system get pods -l k8s-app=kube-router --output name|head -n1)"

Which assigns the string "basename pod/XXX" to the variable.

I think you want a

[2018-02-21 14:35] Matty9191 commented on #192
+1 to adding a highly available set of route reflectors.

[2018-02-21 16:16] murali-reddy commented on #317
@Matty9191 thanks for reporting. Yes you are right. Documentation needs correction.

[2018-02-21 16:22] ut0mt8 commented on #192
Well I ve began to wrote something, but I ve figured out that was not as easy as I think at start.

[2018-02-21 16:36] Matty9191 commented on #192
Once it is complete it will be an incredible feature. The comment @ut0mt8 made having to define all your neighbors upstream is a deal killer for us. In the interim I am going to look into @SEJeff single AS per rack solution.

[2018-02-21 19:39] ut0mt8 commented on #192
When I am thinking of the implementation there a couple a question/issue I found and have no definitive answer.

First, what node/worker/running kube-router instance I should choose to be RR server ? , and by what way ? a flag ? or more elegant an annotation ? and I suppose choosing kube-router running on controller make sense ? anyway it could be configurable...

Second, and related, how other no

[2018-02-21 22:22] ut0mt8 commented on #192
Pseudo code include (I think I'm not too far)

`var rr-client int = false
var rr-server int = false
var clusterId = 0

// find Annotations
for _, node := range nodes.Items {
		nodeIP, _ := utils.GetNodeIP(&node)
		if nodeIP.String() == nrc.nodeIP.String() {
			if clusterId, ok = node.ObjectMeta.Annotations["kube-router.io/rr-server"]; ok {
        rr-server = true
      }
      if clusterId, ok =

[2018-02-22 06:06] t3hmrman commented on #316
Hey @murali-reddy yeah that's exactly what's happening. Good to know hairpin mode is not required -- it must be something wrong with the resource definition I'm using for kube-dns.

I will try deleting the pod again -- it's especially weird that I can acess the other kube-dashboard resource by it's service IP but not the dns...

[2018-02-22 08:17] t3hmrman commented on #316
An update -- this very likely is not the fault of `kube-router`, after lots more investigation, pod internal traffic is working just fine, it's `kubedns` that is actually broken. I think my specific setup (arch + systemd-orchestrated api/controller-manager/scheduler) is what's causing this interop issue.

Here's a snippet of the logs (`kubedns` container inside the `kube-dns` service's pod) that I

[2018-02-22 09:30] murali-reddy commented on #316
@t3hmrman did you get a chance to try CoreDNS instead of kube-dns?

[2018-02-22 10:12] t3hmrman commented on #316
Hey @murali-reddy, thanks for taking the time to help -- my next step is to try CoreDNS next, absolutely.

I didn't want to give up, since the solution seems so close :) I'm taking notes as I go so I can make a blog post about my floundering, and at least file a ticket with `kube-dns` so they know about it.

What I've done lately is use a headless service to expose the services:

[code]

[2018-02-22 10:41] t3hmrman commented on #316
Hey @murali-reddy I managed to narrow it down some more --  it looks like actually the `Service` IPs are not being routed properly for my nodes:

[code]

I doubt the external name service stuff I did was necessary, but I'll file an issue with `kube-dns` to find out anyway.

This issue does seem to be related to *kube-router*, because it's a pod <-> service endpoint issue -- going to start re-readi

[2018-02-22 11:16] t3hmrman commented on #316
Found it! the issue was [`ufw`](https://wiki.archlinux.org/index.php/Ufw). I use UFW internally and it was stopping DNS traffic from moving around internally on the node!

I apologize for the wasted cycles, I just need to update my rules to allow traffic between the locally created networks!

[2018-02-22 11:16] #316 closed

[2018-02-22 11:18] murali-reddy commented on #316
@t3hmrman great you could figure out.

[2018-02-22 11:30] t3hmrman commented on #316
For posterity the fix was:

$ sudo ufw allow to 10.32.0.0/16 from 10.244.0.0/16
$ sudo ufw allow from 10.32.0.0/16 to 10.244.0.0/16

To connect my service cluster to the regular pods to interact

[2018-02-23 01:32] #317 closed

[2018-02-23 07:38] #313 closed

[2018-02-23 07:47] murali-reddy commented on #313
@alebsack please use image `cloudnativelabs/kube-router-git:master` with the fix.

[2018-02-23 09:59] roffe opened #320 "Kube-router fails to start when to small cluster-cidr is given to controller-manager"
When a cluster has been initialized with a to small cluster CIDR controller-manager does not allocate a PodCIDR for the node.

e.g
     --allocate-node-cidrs=true
     --cluster-cidr=10.10.0.1/24
     --node-cidr-mask-size=24

Error in controller-manager with 1 node would look like:

    ormal' reason: 'CIDRNotAvailable' Node cf12 status is now: CIDRNotAvailable
    E0223 09:50:35.810656       1 c

[2018-02-23 16:43] t3hmrman commented on #168
Hey just want to confirm that @jpiper is spot on right minus one `,` (near `snat` capability).

I just set up `fluentd` on my k8s cluster and went from immediate `connection refused` to working communication by putting the following configuration in `/etc/cni/net.d/10-kuberouter.conflist`:

[code]

After that, a restart of `containerd` and `cri-containerd` via `systemctl` were all it took to get c

[2018-02-25 19:58] ut0mt8 commented on #192
I'm almost done ; I just have to deal with network policies.

[2018-02-26 05:36] murali-reddy opened #321 "Document on OpenStack, kube-router would need additional steps"
Document on OpenStack, kube-router would need additional steps.

Some thing similar to https://github.com/kubernetes-incubator/kubespray/blob/master/docs/openstack.md

[2018-02-26 07:42] PadmabushanReddy opened #322 "ClientIP+SrcPort based session persistence in IPVS"
Is it possible to have a clientIP+clientPort based persistence as opposed to Just clientIP where all requests from a particular IP (but different port) goes to same node ?. IPVS (or atleast keepalived) supports this granularity in persistence. Kube-router doesn't seem to support this.
To check this, i issued curl commands from a host with different --local-port option when affinity is ClientIP

[2018-02-26 07:51] murali-reddy commented on #192
@ut0mt8 let me know when you are ready, with private image. I am happy to test.

[2018-02-26 11:03] ut0mt8 commented on #192
I fix the policy part. I think I am very close but still have a probem.

The RR have all the neighbor up; receive and sent pfx to all of peers.
Example :
[code]

But "rr client" receive only two routes ? strange.

Code is here :

https://github.com/ut0mt8/kube-router/blob/feature_rr/app/controllers/network_routes_controller.go

and image for testing is ut0mt8/kube-router:rr2

[2018-02-26 11:16] ut0mt8 commented on #192
mhmm after del/re-add a peer on one client the route appears. I have to dig on timers, or other because it seems that route are never refreshed...

[2018-02-26 15:56] ut0mt8 commented on #192
So we hit a gobgp bug I think.
The problem is that I try to determine if we are rr-client or rr-server at runtime on syncInternalPeer function. Unfortunately the setExportPolicy is called before... and when we remove it after peer that are already connected does not applicate the new policy unless restart/reset it.

So go for a little refacto... and try to check if we are rr-client or rr-server at

[2018-02-26 17:45] ut0mt8 commented on #192
@murali-reddy : I think I'm good.

We can test with the ut0mt8/kube-router:rr4 image.
The code is here
https://github.com/ut0mt8/kube-router/blob/feature_rr/app/controllers/network_routes_controller.go

My first test are positive. Any comment or feedback are welcome.

[2018-02-26 19:43] ut0mt8 commented on #192
Test with dual rr for redundancy look also good. I encourage all that are interested to test and review my patch.

Ah and a little howto :)

so it work with annotations

kube-router.io/rr.client=NUMBER
kube-router.io/rr-server=NUMBER

Obviously the number should be the same for adjacency to form.

Note : for an optimal setup we should review default internal bgp timer which are way too high.
Note2

[2018-02-27 07:15] murali-reddy commented on #322
@PadmabushanReddy at this point `clientIP+clientPort` based persistence is not there. I will check and revert back if its possible to implement it.

[2018-02-27 07:16] murali-reddy commented on #192
@ut0mt8 thanks! I will try setup and test it out. Would you mind raising a PR?

[2018-02-27 14:28] ut0mt8 commented on #192
@murali-reddy done ! I'm open to any review/remark :)

[2018-02-28 16:39] alebsack commented on #313
@murali-reddy thanks for the quick turnaround...  I will test this in the coming days and report back.

[2018-03-01 12:18] pewpewp3w opened #326 "Except CIDRs does not work in NetworkPolicies"
Hello.
Example policy:

Expected behaviour: allowed egress traffic to any destination except two /24 block.
Observed result: traffic allowed to any IP

[2018-03-01 14:24] murali-reddy commented on #326
@pewpewp3w thanks for the issue. Yes, `Except` supported is not implemented yet.

[2018-03-01 16:37] murali-reddy commented on #192
Fixed as part of #325.

If there are any possible improvements we will open a seperate issue.

[2018-03-01 16:37] #192 closed

[2018-03-04 13:11] felipejfc commented on #168
kube-router referrences /etc/cni/net.d/10-kuberouter.conf in some points of the code, we should first change them to accept an envvar pointing to the conf file, since to use an array on plugins we have to use conflist extension.

https://github.com/cloudnativelabs/kube-router/search?utf8=%E2%9C%93&q=%2Fetc%2Fcni%2Fnet.d%2F10-kuberouter.conf&type=

[2018-03-05 08:35] ivankennethwang opened #328 "Is there support for ppc64le?"
I can't seem to run it on ppc64le.

[2018-03-06 09:52] andygoremat opened #329 "Installing as Daemonet - Pods in CrashLoopBackOff state after installing kube-router"
After installing Kube-Router as a Daemonset, the pods that is has deployed to are in a CrashLoopBackOff state.  The logs of the pods all share the same error message:

**Failed to parse kube-router config: Failed to build configuration from CLI: Error loading config file "/var/lib/kube-router/kubeconfig": read /var/lib/kube-router/kubeconfig: is a directory**

Kube-Router installed with : **kubect

[2018-03-06 10:31] murali-reddy commented on #329
@andygoremat error indicates there is no proper kube configuration file in the location. How did you provision the cluster? Are you using any cluster installers like kubeadm?

[2018-03-06 10:35] murali-reddy commented on #329
Also please try https://github.com/cloudnativelabs/kube-router/blob/master/daemonset/generic-kuberouter-all-features.yaml if it helps.

[2018-03-06 10:57] andygoremat commented on #329
Hi, it was provisioned using the Azure AKS installer.

[2018-03-06 11:02] murali-reddy commented on #329
Ok, I will try to add a manifest that works with AKS installer.

But basically kube-router needs kubeconfig with proper master details and certificate to access the API server.

[2018-03-07 14:10] t3hmrman commented on #168
Hey @murali-reddy is this anything more than a documentation change to fix? It seems like it shouldn't be within kube-router's purview to setup CNI configurations, outside of giving an example of a working default?

[2018-03-07 15:34] Thoro opened #330 "kube-router is incompatible to cni v0.6.0 multi subnets"
In cni 0.6.0 you can have multiple subnets for the cni config:

[code]

Instead of editing the sub range, kube-router adds a new subnet field.

[code]

Which means that pods can't be started anymore, because that config file is invalid.

[2018-03-07 15:41] murali-reddy commented on #330
@Thoro thanks for reporting this issue. This is a concerning. `v0.6.0` is around for a quite a while, wonder why this issue did not surface so far.

[2018-03-07 15:42] Thoro commented on #330
probably because nobody was so stupid and configure ipv6 directly in the ipam module :D

[2018-03-07 16:33] Thoro commented on #330
suggestion from my side:

upgrade the cni module and remove the writing of the subnet into the file - or make it optional via flag

[2018-03-08 10:29] lavajnv opened #331 "Nodes are accessible from Pods or outside if clusterIp or external Ip is routed to any of kubelet nodes."
We can able to access ports like ssh etc. of kubelet nodes using kube-dummy-if interface IPs.
All the ports of the Node can be accessed from pods or other newtorks if ClusterIP subnet or External Ips used in services.  are routed any kubelet node.

Can the IPs attached to  kube-dummy-if allow only the ports which are part of kubernetes services. Access to other ports from these clusterIP or extern

[2018-03-08 12:09] murali-reddy commented on #331
Yes this needs be fixed by default, dont need to write network policies.

[2018-03-08 16:52] stevenewey opened #332 "Blocked access from pods in the host network namespace"
We're using kube-router as our NPC along with flannel VXLAN for our basic networking.

We have an issue where one of our teams makes use of `kube proxy` as part of their deployment process.

They can add a policy the allows traffic from the kube-system namespace, and I can see kube-router does what makes sense on the node. There are ipset entries for each pod in kube-system, including for the kube

[2018-03-09 06:30] murali-reddy commented on #168
@t3hmrman i believe some code cleanup is required to start with.

https://github.com/cloudnativelabs/kube-router/blob/4e768b146741da91a3253445b7b1833fee1f5b8d/app/controllers/network_routes_controller.go#L89-L93

Like @felipejfc mentioned right now conf file path is hard coded to `/etc/cni/net.d/10-kuberouter.conf` that should be removed from the code to env var.

Also, I think parsing code needs

[2018-03-09 06:30] murali-reddy commented on #168
I am working on the fix. I will update with my findings.

[2018-03-09 09:40] t3hmrman commented on #168
Thanks for the thorough work -- want to be clear I wasn't trying to rush you just wanted to see if it was something someone could easily contribute!

Cheers

On March 9, 2018 3:30:53 PM GMT+09:00, Murali Reddy <notifications@github.com> wrote:

[2018-03-11 05:49] murali-reddy commented on #182
#334 will fix from kube-router code perspective, but if there are any advertised service VIP's they continue to remain in GoBGP rib? Need to verify if that is the case.

[2018-03-11 19:54] murali-reddy commented on #168
I have raised https://github.com/cloudnativelabs/kube-router/pull/335

If any one want to review it and give it try please use the image `cloudnativelabs/kube-router-git:hostport`

[2018-03-12 21:48] NiraliSupe commented on #168
@murali-reddy Hello
A newby question. I am using the kube-router manifest file from https://github.com/murali-reddy/kube-router/blob/hostport/daemonset/kubeadm-kuberouter-all-features-hostport.yaml
I am getting the following error:
[code]
Could you please help with this?

[2018-03-12 22:16] dimm0 opened #337 "Issues accessing pods from host network with several interfaces"
I have a node (several actually, all having same behavior) with 2 interfaces up in different subnets:

[code]

enp9s0 is the default one:

[code]

The tunnels are bound to the right interface:
[code]

The tunnels are working fine pod-pod. But when I try to access pod on another host from physical host (or from a pod bound to the host network), the packets are going from a wrong interface and never

[2018-03-13 00:03] andrewsykim commented on #337
Can you list the iptable rules on your host with `sudo iptables-save`?

[2018-03-13 00:13] dimm0 commented on #337
[iptables-save.zip](https://github.com/cloudnativelabs/kube-router/files/1804967/iptables-save.zip)

[2018-03-13 00:19] andrewsykim commented on #337
Can you put that in a gist instead?

[2018-03-13 00:53] dimm0 commented on #337
Yup. Done

[2018-03-13 01:54] andrewsykim commented on #337
Have you set [--cluster-cidr](https://github.com/cloudnativelabs/kube-router/blob/master/app/options/options.go#L77-L78) on kube-router?

[2018-03-13 02:37] dimm0 commented on #337
Hmm, I haven't. The kube-proxy config has it defined right:
[code]

Should I do this as well? https://github.com/cloudnativelabs/kube-router/blob/f3e7aced1a2f58ca38bf489a6cb7d4bbedb93d50/daemonset/generic-kuberouter-all-features.yaml#L23

Where should it be defined for kube-router?

[2018-03-13 03:15] murali-reddy commented on #168
Actually i am running into same issue with kubelet when i enable `.conflist` @NiraliSupe

@t3hmrman is there any specific flag that needs to be enabled for kubelet. I tried with Kubernetes `1.9.3` my `.conflist` is same as one you mentioned except additional `subnet` field added to `ipam`

[2018-03-13 03:58] murali-reddy commented on #168
I am getting the following error:

@NiraliSupe how does your `/etc/cni/net.d/10-kuberouter.conflist` file content looks like?

[2018-03-13 09:01] murali-reddy commented on #332
@stevenewey any reason you closed this issue?

[2018-03-13 09:27] stevenewey commented on #332
@murali-reddy sorry about that, we implemented a workaround in our tooling, and I mentioned this issue in the process, so Github seems to have decided it must have been fixed! Re-opening.

[2018-03-13 09:47] murali-reddy commented on #332
Note from slack discussion.

[2018-03-13 11:44] t3hmrman commented on #168
@murali-reddy I'm relatively sure all I needed to do was restart the `cri-containerd` and `containerd` services (which I use for my container run time).

I do have my cluster and service CIDRs set, I'd assume that's not what's missing for you guys?

Here's my resource configuration for the `kube-router` `ConfigMap`:

[code]
I think you can safely ignore the `cni-conf.json` part -- all I can see th

[2018-03-13 13:13] t3hmrman commented on #168
Hey @murali-reddy I just tried with the `KUBE_ROUTER_CNI_CONF_FILE` set and everything still works for me. I *did* have a working setup before, so maybe it's better for someone that doesn't to try

[2018-03-13 13:20] murali-reddy commented on #168
@t3hmrman can you please share how did you setup your cluster (used any cluster installed like kubeadm)? I am spinning up 1.9.3 cluster on AWS with kops. I noticed it did not have `portmap` plug-in instlled. So i have manually installed the plugin restarted both docker and kubelet, still continue to get errors. I must be doing some steps wrong.

I presume you also used the `cloudnativelabs/kube-ro

[2018-03-13 13:32] t3hmrman commented on #168
@murali-reddy
Sorry, my setup is actually just about completely custom -- I'm running ArchLinux on dedicated hardware, set up Kubernetes with [kubernetes-the-hard-way](https://github.com/kelseyhightower/kubernetes-the-hard-way).

Could you share the error/output you're getting? Also if you could check the logs for whatever container runtime you're using, it might show better what's happening. I th

[2018-03-13 13:43] eranreshef opened #338 "kube-router doesn't support named port configurations"
When I try to apply a `NetworkPolicy` object that making use of named ports defined in a deployment/daemonset/statefulset spec, I get the following errors that are followed by crashes of the kube-router pods:

[code]
(In addition, it seems that there is usage in deprecated `iptables` options).

When modifying the NetworkPolicy to work with numbered ports, everything is ok.

[2018-03-13 13:52] murali-reddy commented on #338
@eranreshef thanks for reporting. Support for named port is not added yet. We will work on fix in one of upcoming releases.

[2018-03-13 14:10] NiraliSupe commented on #168
@murali-reddy
Kube router config map is as follows
[code]
/etc/cni/net.d/10-kuberouter.conflist file has
[code]
After adding subnet, error was sloved. But When I use `hostPort` with `nginx ingress controller`, it's not working. Is there way, I can check if cni working properly or am I missing something?

[2018-03-13 14:19] andrewsykim commented on #337
Try adding --cluster-cidr here: https://github.com/dimm0/prp_k8s_config/blob/master/kubeadm-kuberouter.yaml#L48, I'm not 100% sure if it will fix this issue, but I had a similar issue a while back and it fixed it for me

[2018-03-13 17:03] dimm0 commented on #337
Hmm... How about this? https://github.com/cloudnativelabs/kube-router/issues/137

[2018-03-13 18:14] murali-reddy commented on #168
Ok, atlast i was able to test it. Deployed fresh 1.9.4 cluster with `kubeadm` and the [manifest](https://github.com/murali-reddy/kube-router/blob/hostport/daemonset/kubeadm-kuberouter-all-features-hostport.yaml). `kubeadm` installed all CNI plug-in's including `portmap`.

I can not figure why, but had to restart docker to make it work. Once restarted `hostport` just worked.

I am pretty sure (as a

[2018-03-13 21:38] t3hmrman commented on #168
I'm pretty sure restarting the container runtime is necessary, I had the same problem with containerd/cri-containerd.

Glad you got it working!

On March 14, 2018 3:14:29 AM GMT+09:00, Murali Reddy <notifications@github.com> wrote:

[2018-03-14 00:48] dimm0 commented on #337
Didn't help. Changed the ds definition and deleted the kube-router pod on broken node.

[2018-03-14 13:04] murali-reddy commented on #328
@ivankennethwang No it's no supported yet. Recently support for arm was added in this commit

https://github.com/cloudnativelabs/kube-router/commit/c7ce39836788d66b634b3c7c4f4c935468394bad

Perhaps something can be added in similar lines.

[2018-03-15 14:02] mxey opened #341 "NetworkPolicy: Removing policyTypes is not applied to iptables"
I use kube-router solely as network policy controller.
[see attached DaemonSet](https://github.com/cloudnativelabs/kube-router/files/1815620/kube-router-firewall-daemonset.yaml.txt)

When I create a NetworkPolicy with policyTypes [Ingress, Egress] and then remove Egress, kube-router does not completely remove egress filtering.

AFAICT, kube-router does not remove the "rule to jump traffic from POD

[2018-03-15 15:51] johanot opened #342 "docker.sock fd leak when using DSR"
It looks like kube-router is leaking socket connections to docker.sock, when applying DSR=tunnel to a service.

## Reproduce

1. Create a service
2. Annotate with kube-router.io/service.dsr=tunnel
3. Assign X external IP's to the service to enable DSR
4. Set kube-router ipvs-sync period low (e.g. 5 seconds) - it will make the leak run faster

## Indications

[code]
... kube-router eventually dies

[2018-03-15 16:55] murali-reddy commented on #342
@johanot thanks for trying DSR and reporting this issue. Do you see this issue specific to DSR.

Reason i ask it, there is an issue https://github.com/cloudnativelabs/kube-router/issues/314

I will try to reproduce anyway.

[2018-03-15 17:13] johanot commented on #342
@murali-reddy Yes.. Only with DSR. When I remove the DSR annotation, the fd count is more or less constant, but not shrinking - indicating that the connections are never closed.

https://github.com/cloudnativelabs/kube-router/blob/a466ace4bc901aac14b4a95cf2c60dd7800f4f31/app/controllers/network_services_controller.go#L694 is the only place where the docker-socket is used, right? As far as I unders

[2018-03-15 17:36] #168 closed

[2018-03-15 18:01] murali-reddy commented on #342
@johanot can you please try `cloudnativelabs/kube-router-git:dsr-leak` image. It has fix #343.

[2018-03-16 10:15] cjbrigato commented on #280
May it be the same but I was mentioning off-topic on the route-reflector Issue there https://github.com/cloudnativelabs/kube-router/issues/192#comment-348304914 ?

[2018-03-16 13:53] johanot commented on #342
@murali-reddy Done testing. LGTM. Number of open connections is now stable. Thank for the quick response and good work!

[2018-03-16 14:53] #342 closed

[2018-03-21 14:41] SEJeff commented on #310
@murali-reddy this should be closed as a dupe of #242

[2018-03-21 19:18] murali-reddy commented on #310
Sure. @tiukhtinvladimir We have some work in-flight (#339) for supporting services of type LoadBalancer. Watch out for #242.

[2018-03-21 19:18] #310 closed

[2018-03-21 23:32] andrewsykim opened #349 "Use Cached Informer for network routes controller"
As discussed in https://github.com/cloudnativelabs/kube-router/pull/347, we should use informers so we can get update events for services/endpoints immediately as opposed to waiting for the next sync period. This should significantly decrease convergence time when we withdraw routes.

[2018-03-21 23:32] andrewsykim commented on #349
cc @murali-reddy @TvL2386

[2018-03-28 04:54] zhaofengcumt opened #356 "kube-bridge has not assigned a ip"
kube-bridge has not assigned a ip,and it logs show

E0328 04:41:20.151591    8770 network_routes_controller.go:190] Failed to enable netfilter for bridge. Network policies and service proxy may not work: exit status 1
I0328 04:41:20.151691    8770 network_routes_controller.go:200] Starting network route controller
I0328 04:41:20.325834    8770 network_routes_controller.go:1429] Could not find BGP

[2018-03-28 07:12] murali-reddy commented on #356
@zhaofengcumt There are two different problems here.

IP gets assigned to `kube-bridge` interface lazily by `Bridge` CNI plug-in. Only when a pod is created on the node, bridge CNI will assing gateway IP to the interface. Please deploy some pods and see.

Regarding `Failed to enable netfilter for bridge`, what OS and Kernel version are you using.

Please see https://github.com/cloudnativelabs/kube

[2018-03-28 07:14] zhaofengcumt commented on #356
does 'Failed to enable netfilter for bridge'  influence the function of kube-router？

[2018-03-28 07:26] murali-reddy commented on #356
Please see #311 . It depends on Kernel version. In older version `br_netfilter` is built-in. So this error can be ignored.

But if your Kernel does not have `br_netfilter` and enabling it is failing then this error has impact on functionality.

Enabling `br_netfilter` is must for all CNI's.

[2018-03-28 07:28] zhaofengcumt commented on #356
8: dummy0: <BROADCAST,NOARP> mtu 1500 qdisc noop state DOWN qlen 1000
    link/ether d6:b8:3d:28:9a:1a brd ff:ff:ff:ff:ff:ff
9: kube-dummy-if: <BROADCAST,NOARP,UP,LOWER_UP> mtu 1500 qdisc noqueue state UNKNOWN
    link/ether 76:21:12:ba:ff:33 brd ff:ff:ff:ff:ff:ff
    inet 172.21.0.1/32 brd 172.21.0.1 scope link kube-dummy-if
       valid_lft forever preferred_lft forever
    inet 172.21.153.131/3

[2018-03-28 07:29] zhaofengcumt commented on #356
when i start a pod  kube-bridge still has no ip

[2018-03-28 07:32] zhaofengcumt commented on #356
my kernel is Linux bigdata5 4.4.104-1.el7.elrepo.x86_64 #

[2018-03-28 08:09] zhaofengcumt opened #357 "nodeport did not open a port on host"
when create a service with a nodeport type,the port did not up
apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: k8s-webapp-demo
  name: k8s-webapp-demo
  namespace: default
spec:
  type: NodePort
  ports:
  - port: 8088
    targetPort: 8088
    nodePort: 8099

[root@k8s home]# netstat -anp|grep 8099
[root@k8s home]#

[2018-03-28 08:25] zhaofengcumt commented on #356
and i still find that when I create a service with the type nodeport,the port did not up

[2018-03-28 08:49] zhaofengcumt opened #358 "does flannel needed when using kube-router"

[2018-03-28 08:50] zhaofengcumt commented on #358
does flannel needed when using kube-router?

[2018-03-28 08:51] zhaofengcumt commented on #358
does flannel needed when using kube-router?

[2018-03-28 10:53] murali-reddy commented on #358
@zhaofengcumt kube-router provides multiple functionalities typically needed for Kubernetes networking.

* kube-router can be used to enforce network policies
* kube-router can be used to network service proxy
* kube-router can be used for pod-to-pod networking.

Depending on what you choose to use it for, Flannel can be used, but not a must. For e.g you can use Flannel for pod-to-pod networking,

[2018-03-28 10:53] #358 closed

[2018-03-29 11:55] whereismyjetpack opened #359 "Add switch for enabling iptables logging"
It would be neat if we could control how kube-router inserts iptables rules. I'd like the ability to inject ` -j log` items on dropped packets for forensics / debugging

[2018-03-29 13:15] shibd opened #360 "kubeadm init start when join node then kube-router error"
kubeadm init start when join node then kube-router error

`Failed to create network services controller: Failed to get pod CIDR details from Node.spec: node.Spec.PodCIDR not set for node: master-etcd3`

kubeadm init command：
`
kubeadm init \
--pod-network-cidr=192.168.0.0/24
`
How set node CIDR?

[2018-03-29 13:32] murali-reddy commented on #360
kube-router relies on `kube-controller-manager` to allocate the pod CIDR's for the node. I believe `/24` is too low for allocation. By default kube-controller-manager allocates /24 CIDR. Either you change the below [flag](https://kubernetes.io/docs/reference/generated/kube-controller-manager/) or give higher cidr for `--pod-network-cid` for kubeadm init.

`--node-cidr-mask-size int32

[2018-03-30 04:11] shibd commented on #360
I try change kube-controller-manager config

[2018-03-30 04:38] murali-reddy commented on #360
Either of `kubeadm init --pod-network-cidr=192.168.0.0/16` or `kube-controller-manager` with `--node-cidr-mask-size 28` should work.

[2018-03-30 05:50] shibd commented on #360
Thanks for your answer,  I solved it.

[2018-03-30 06:01] #360 closed

[2018-03-30 07:03] murali-reddy commented on #357
@zhaofengcumt this is expected behaviour. Linux LVS/IPVS acts more like router/forwarder or what is called as LVS director. There is no active listener.

Snip from http://www.austintek.com/LVS/LVS-HOWTO/HOWTO/LVS-HOWTO.what_is_an_LVS.html

`
The director is basically a router, with routing tables set up for the LVS function. These tables allow the director to forward packets to realservers for ser

[2018-03-30 07:03] #357 closed

[2018-03-30 07:13] murali-reddy commented on #356
kernel 4.4.104 should have br_netfilter disabled by defualt. So kube-router attemepting to enable should have worked. I am not sure why it is failing.

Can you try manually and see if you can run

`modprobe br_netfilter`

[2018-04-02 00:39] #356 closed

[2018-04-02 00:40] zhaofengcumt commented on #356
i got it thanks

[2018-04-02 15:17] farcaller opened #361 "Failed setup custom routing table required to add routes for external IPs"
kube-router-v2fsl kube-router E0402 15:15:54.388599       1 network_services_controller.go:328] Failed setup custom routing table required to add routes for external IP's due to: Failed to add route for 10.202.0.1 in custom route table for external IP's due to: exit status 2

this is cloudnativelabs/kube-router:latest on a brand new kubeadm-based cluster.

[2018-04-03 12:40] murali-reddy commented on #361
@farcaller thanks for reporting. What Linux flavour are you using and kernel version.

[2018-04-03 13:27] farcaller commented on #361
Ubuntu 16.04.4 LTS running 4.13.0-17-generic.

[2018-04-03 17:06] phemmer opened #363 "Ability to change log level"
I'm trying to debug an issue with routes not properly propagating to nodes in my cluster. However kube-router isn't logging any useful messages which might indicate the issue.
My desire is to set the gobgp log level to debug, however there is currently no way to do this. When gobgp is run natively as a command-line application, it calls [`log.SetLevel(log.DebugLevel)`](https://github.com/osrg/gobg

[2018-04-03 17:14] phemmer opened #364 "integer underflow on accepted route count"
I'm not sure how I got here, but there appears to be an integer underflow issue on the neighbor accepted route count.

[code]

I'll see if I can get some more info on how I got into this situation. But I've been playing around with starting & stopping the peers.

[2018-04-03 17:14] #364 closed

[2018-04-03 17:14] phemmer commented on #364
ack, meant to open this on the gobgp repo

[2018-04-04 06:34] murali-reddy commented on #363
@phemmer i will check with GoBGP folks if there is a way around.

[2018-04-04 06:40] murali-reddy commented on #361
Basically `ip route add $externalIP dev kube-bridge table 79` comand is being run. Exit status code `2` means misuse of shell builtins. So not sure whats going wron here.

Could you please try manually and see if it works?

Are you trying to use DSR functionality.

[2018-04-04 07:23] xiaoxubeii opened #366 "Run kube-router only with --run-service-proxy"
Can kube-router be used for service proxy without pod networking (--run-router)? I use cni macvlan for pod networking, and just want to use service proxy of kube-router. Is that possible?

[2018-04-04 07:46] murali-reddy commented on #366
@xiaoxubeii yes, its possible. I never tried with MacVlan though.

[2018-04-04 11:28] phemmer commented on #363
IMHO, if GoBGP does support being used as a library and not just as a standalone binary, they should be using a contextual logger, not the global `log` package so that things like log level affect only GoBGP, and not everything which uses logrus.

But for a quick and dirty fix, kube-router can just import logrus and call `log.SetLevel(log.DebugLevel)`.

[2018-04-04 11:42] murali-reddy commented on #363
I will give it a try, if it works, thats good enough.

[2018-04-04 12:02] murali-reddy commented on #363
Worked like charm. thanks for the nice hack @phemmer . I will keep it as non-default option for debugging.

[code]

[2018-04-04 14:01] ccatlett2000 commented on #242
I see that there is support introduced for MetalLB in BGP mode with #354 (and #355). However, could I suggest adding support for the ARP mode as well?

I know that MetalLB's ARP mode has scaling issues - however I am in a scenario where the network is not controlled by me and does not support BGP. Therefore, could a flag be added that just treats LoadBalancer service IPs as if they were an `extern

[2018-04-04 15:37] murali-reddy commented on #242
@ccatlett2000 You should be able to use MetalLB ARP mode. kube-router does not advertise service's load balanacer IP's if not expllictly asked to do so i.e) by enabling `--advertise-loadbalancer-ip` flag.
Kube-router configures IPVS with load balancer IP. Please try and see.

cc @jjo

[2018-04-04 15:57] jjo commented on #242
Indeed WfM, on my raspberry pi2 cluster fwiw.

Linking manifests for both:
* kube-router `--advertise-loadbalancer-ips=true` -> https://gist.github.com/jjo/8c616aaf795284bb5b85d02143745f63
* metallb w/ARP mode -> https://gist.github.com/jjo/bac1e4cd12c854fc58ca2de084b3b874

[2018-04-04 19:06] ccatlett2000 commented on #242
@murali-reddy Ah, I read [this blog post](https://cloudnativelabs.github.io/post/2017-05-10-kube-network-service-proxy/) and because of it I was under the impression that IPVS proxy wouldn't be created for LoadBalancer services. However, if that isn't the case I will certainly try it out when I set up this cluster today/tomorrow.

[2018-04-04 19:10] jjo commented on #242
@ccatlett2000: you're correct, indeed --advertise-loadbalancer-ips was just recently added ( PR #354 ).

[2018-04-04 23:41] farcaller commented on #361
[code]
(and I just disabled cloudflare dns, heh)

no, not DSR. I'm trying to make kube-router talk to quagga bgpd on my bare metal machine. I think it actually works fine – I'm only confused by this message in the logs as I don't know what failed and if I should expect anything to be broken

[2018-04-05 17:58] jsravn commented on #93
I'm curious since I'm running into the same problem with libipvs - did you figure out the actual issue in libipvs?

[2018-04-05 18:16] murali-reddy commented on #93
@jsravn We hit this issue long time ago when kube-router was using https://github.com/mqliang/libipvs for IPVS, then we switched to docker/libnetwork. We never ran into this issue with docker/libnetwork.

[2018-04-06 06:00] drobinson123 opened #370 "route missing upon pod restart"
When a kube-router pod is restarted it appears to lose at least one and sometimes several routes at either shutdown or startup. I have several k8s clusters, both using kube-router v0.1.0, and both have encountered this problem over the past few days. CoreOS auto-updates cause the host, and therefore kube-router, to restart -- that seems to trigger the problem.

The host with the missing routes is

[2018-04-06 06:10] murali-reddy commented on #366
@xiaoxubeii please reopen if you face any issue.

[2018-04-06 06:10] #366 closed

[2018-04-06 06:11] murali-reddy commented on #361
Please re-open if you run into any issue again.

[2018-04-06 06:11] #361 closed

[2018-04-07 00:03] drobinson123 commented on #370
The logs don't show anything out of the ordinary. OS logs also don't show anything abnormal. It looks like [RouteReplace](https://github.com/cloudnativelabs/kube-router/blob/v0.1.0/app/controllers/network_routes_controller.go#L924) silently failed.

I've patch kube-router to confirm/deny my theory:

[code]

[2018-04-08 02:47] andrewsykim opened #374 "Metrics for network routes controller"
Similar to the metrics we have for service controller, we should have projects for routes controller.

cc @roffe @murali-reddy

[2018-04-08 07:17] chenchun opened #375 "network policy issue: optimize NetworkPolicyIngressRule.Ports"
1. It seems currently `NetworkPolicyIngressRule.Ports` is implemented by multiple iptable rules and `hash:ip` ipset instead of a single iptable rule and ipset type `hash:ip,port` or `hash:net,port`. I think the latter one is more efficient if there are many ports.

![image](https://user-images.githubusercontent.com/985861/38464324-52aa2610-3b3e-11e8-876d-5f61e2ff3415.png)

2. `NetworkPolicyPeer.IP

[2018-04-08 08:37] murali-reddy commented on #375
Yes, both Except (https://github.com/cloudnativelabs/kube-router/issues/326) and named ports(https://github.com/cloudnativelabs/kube-router/issues/338) not supported yet.

[2018-04-09 02:02] chenchun commented on #375
Sorry, my mistake. I think `hash:ip` ipset is suitable for `NetworkPolicyPeer.NamespaceSelector` and `NetworkPolicyPeer.PodSelector`, `hash:net` ipset is suitable for `NetworkPolicyPeer.IPBlock`. ipset `nomatch` option is capable for implementing `IPBlock.expect`.

For multiple ports, using iptables `multiport` extension is efficient than multiple single dport rules.

[2018-04-09 06:57] xiaoxubeii commented on #366
OK, i will have some tests. Thanks.

[2018-04-09 08:27] jpds commented on #370
My nodes are originally running `1632.3.0`, half of them upgraded to `1688.5.3`. On the nodes where the upgrade happened, I can see that `kube-router` restarted once:

[code]

Currently log for one of those pods:

[code]

Previous log for that pod pre-restart:

[code]

[2018-04-09 08:33] jpds commented on #370
Deleting the `kube-router` pods appears to have helped with the issue in my case.

[2018-04-09 16:49] wrigtim commented on #262
+1 from me. Useful when you have some applications that are less friendly with their traffic profile (e.g. exceptionally high-rate UDP).

[2018-04-09 16:54] murali-reddy commented on #262
@andrewsykim its already addressed right?

[2018-04-09 17:06] andrewsykim commented on #262
Yup, you have to set service.Spec.ExternalTrafficPolicy=Local as per https://github.com/cloudnativelabs/kube-router/pull/334. We'll also want https://github.com/cloudnativelabs/kube-router/pull/350 implemented so we have faster convergence for BGP routes

[2018-04-09 17:11] murali-reddy commented on #262
Thanks for confirming. Closing the bug.

@wrigtim kube-router already has the support for `ExternalTrafficPolicy=Local`, with extra smarts to advertise from the node only if there is atleast on service endpoint.

[2018-04-09 17:50] wrigtim commented on #262
@murali-reddy ...but can’t do external policy with ClusterIP? There’s still an extra hop we can take out here?

[2018-04-09 19:44] murali-reddy commented on #262
@wrigtim some how documentation is not in sync with changes went in for this feature. I will add documentation.

You could add kube-router specific annotation to any service `kube-router.io/service.local=true`. Which will result in same behaviour as `externalTrafficPolicy=Local` irrespective of service type.

[2018-04-09 20:07] wrigtim commented on #262
Ah fantastic. Appreciate the rapid response - will test it out...

[2018-04-09 23:28] phemmer opened #376 "bad routing from host to service IP on same host"
Currently if you try to access a service IP from a host in which that IP is present, it will randomly fail.

For example:
[code]
From node01:
[code]
At the same time from node02:
[code]

So what is happening is that node02 is dropping the packets because they're claiming to be from 10.128.64.184, which the box thinks is itself. You can set the sysctl param `net.ipv4.conf.ens192.rp_filter=0` to dis

[2018-04-10 04:47] murali-reddy commented on #376
What it means is on the node01, traffic was `10.128.64.184.44828 > 10.128.64.184.443` before hittng the LVS.

Though it's perfectly possible scenario strange I never ran into this issue. I would have tested on various Linux flavours same scenario, `source address selection` never picked up same ip.

[2018-04-10 09:32] maximih commented on #366
I am also interested in this but I want to use [multus.](https://github.com/Intel-Corp/multus-cni) as CNI plugin. @xiaoxubeii please let us know if it worked for you with `macvlan`

[2018-04-10 12:26] xanonid opened #378 "networkpolicy bug: ipset not updated if there are unscheduled pods"
If there are unscheduled pods with matching networkpolicies, kube-router calls `ipset add` with empty IPs for corresponding networkpolicies and fails to update the IP sets (`ipset swap` is not called).  Therefore, the ipsets
stay frozen and the networkpolicies cannot grant access to/from new pods (with changed IP address).

Possible solution would be to ignore pods in `buildNetworkPoliciesInfo` wi

[2018-04-10 13:36] andrewsykim opened #380 "Fine tuning informers resync period"
As per discussion here https://github.com/cloudnativelabs/kube-router/pull/373#discussion_r179933074 we should investigate what resync period we should be using for informers. A resync period of 0 might be okay given we run a seperate sync loop in each controller.

[2018-04-10 16:29] #378 closed

[2018-04-10 16:49] jpds commented on #370
I'm also seeing this on new nodes which spin up on `1688.5.3` and join the cluster, all outbound traffic fails (particularly CI jobs )and restarting kube-router makes it work.

[2018-04-10 18:26] murali-reddy commented on #370
@drobinson123 any luck?

[2018-04-10 19:35] andrenth opened #381 "Failed to start API watchers"
Hi

I'm trying to bring up a 3-node Kubernetes cluster using Kube-Router. I'm following the current [HA docs](https://kubernetes.io/docs/setup/independent/high-availability/), but when the kube-router pod is getting into a CrashLoopBackOff status. The output from the pod's log is

[code]

My setup is perhaps somewhat nonstandard in that my servers have two NICs (eth0 and eth1) and I'm trying to ge

[2018-04-11 01:00] killcity opened #383 "failed to allocate for range 0: no IP addresses available in range set"
Looks like `kube-router` is affected by this [upstream issue](https://github.com/kubernetes/kubernetes/issues/57280). It is related to not cleaning up the pod ips when a container is not able to start/failed (specifically related to the use of `host-local` IPAM).

Here is an example for a failed Datadog Agent Pod to start, due to this bug.

```Apr 11 00:52:45 srv-8d-01-a06 kubelet: E0411 00:52:45.

[2018-04-11 05:07] murali-reddy commented on #381
@andrenth Have you performed the step mentioned in the docs.

Kube-router uses the same configmap that is generated for kube-proxy. So please update the configmap and give it a try.

[code]

[2018-04-11 07:57] xanonid commented on #378
Thanks for merging. Is there are plan for the next release? It would be helpful if a fixed version would be released soon.

[2018-04-11 13:30] andrenth commented on #381
So I decided to rebuild the node from scratch, because I had done a number of previous experiments with flannel, weave, etc before. Doing that, I can't reproduce the problem above, so I guess there were leftovers from previous configuration attempts preventing kube-router from working correctly.

Sorry for the noise.

[2018-04-11 13:30] #381 closed

[2018-04-11 13:51] andrenth opened #385 "Allow binding specific IP addresses"
Currently kube-router listens on all IP addresses for BGP, gRPC and health check ports:

[code]

In multi-homed nodes, it can useful to be able to select a specific bind IP address, so that, for example, a private cluster becomes inaccessible from the public network by design, without the need for extra iptables rules.

[2018-04-11 15:27] murali-reddy commented on #385
@andrenth Good point, i guess specific IP that BGP server should listen on would node IP.

[2018-04-11 16:37] murali-reddy opened #386 "optimize sync's performed across three controller on Update to the objects"
API object changes for various reasons (update to status, change in meta data). We need to restrict the sync() performed by the controller on each Update(). Most of the time change does not necessarily warrants sync.

For `update` function check if the update has a change that warrants the sync
[code]
it varies from API object to object. For e.g for endpoints object all we care is if subset has ch

[2018-04-11 17:34] andrewsykim commented on #386
@murali-reddy would be great if we can first optimize services controller to do a sync per service/endpoints. Right now it syncs all endpoints/services for all update events.

[2018-04-11 17:45] murali-reddy commented on #386
Agree, there has to be full sync and delta sync.

[2018-04-12 12:51] roffe commented on #381
@andrenth I've had similar problems. key has been to clear out /etc/cni/net.d on the host as flannel, weave, kube-router etc does not cleanup and remove the cni config from there if you delete their daemonsets

[2018-04-12 12:54] andrenth commented on #381
@roffe I was doing that, but somehow it was not enough in my case... but I conjured up a "wipe all the things" kubectl command, rebooted and then it worked. Here's the command:

[code]

[2018-04-12 17:37] murali-reddy commented on #262
@jdconti pointed out missing functionality so reopening the issue.

https://kubernetes.slack.com/archives/C8DCQGTSB/p1523553155000833

[2018-04-13 09:17] johanot opened #389 "Shouldn't Networkpolicy apply to peers AND ports, rather than OR?"
I have the following netpol:

[code]

My observation is that I can access my run=test pod, **either**:

- on port 80 from _anywhere_
**or**
- on _any_ port from my run=toolbox pods

**at the same time**

I don't think this is a correct interpretation of the netpol resource. In my opinion, it only make sense to apply the rule on the combination of peers and ports. Meaning that I expect the followin

[2018-04-13 09:41] murali-reddy commented on #389
@johanot This case is handled as far i can see. Could you please share how your iptables filter table look like?

[code]

[code]

[2018-04-13 12:41] johanot commented on #389
`$ sudo iptables -F `

(wait for reconcile)

`$ sudo iptables -S KUBE-NWPLCY-CR6XZRVC2F6OGNFE`

`
-A KUBE-NWPLCY-CR6XZRVC2F6OGNFE -m comment --comment "rule to ACCEPT traffic from source pods to dest pods selected by policy name test namespace default" -m set --match-set KUBE-SRC-TADRR5V3RMRQF6YX src -m set --match-set KUBE-DST-CR6XZRVC2F6OGNFE dst -j ACCEPT
`
**^^ Correct**

`
-A KUBE-NWPLCY-CR6X

[2018-04-13 12:44] johanot commented on #389
Well no.. First rule lacks dport, second rule lacks src-match-set. :/ strange

[2018-04-13 13:03] johanot commented on #389
@murali-reddy Oh... Sometimes I just hate yaml :(

Compare the below spec with my original post.

[code]

Looks like I accidentally made _two_ ingress sections, one with a ports definition and another with from definition. After changing the spec I get the one single iptables rule I expect:

`-A KUBE-NWPLCY-CR6XZRVC2F6OGNFE -p tcp -m comment --comment "rule to ACCEPT traffic from source pods to de

[2018-04-13 13:03] #389 closed

[2018-04-13 15:53] murali-reddy opened #392 "make kube-router service VIP advertisement functionality independently usable."
Network routes controller in kube-router does two crticial jobs now.

- advertise pod CIDR's allocated to the nodes to the peer nodes, extenal peers etc
- Advertise the service VIP's to the external peers.

I think its useful to have the functionality of #2, independent of #1.

Which mean, i should be use Flannel/Weave as CNI, yet deploy kube-router's and can use its service proxy and VIP advertis

[2018-04-15 03:40] ckeyer opened #396 "kube-router start failed"
[code]
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `uname -a`):
[code]

[2018-04-15 03:53] ckeyer commented on #396
https://github.com/kubernetes/kubernetes/issues/62527#issuecomment-381071678

[2018-04-15 04:03] murali-reddy commented on #396
@ckeyet could you please try `v0.2.0-beta.2` image which is the latest?

[2018-04-16 11:29] xanonid commented on #396
With v0.2.0-beta.2, I get also repeated "Network Policy Controller heartbeat missed" messages (often for minutes). If the health point is used by kubernetes, the kube-router pods are restarted periodically. This seems to be a regression, since with v0.1.0 everything works fine.
I have not (yet?) seen a panic/SIGSEGV with v0.2.0-beta.2 and v0.2.0-beta.1.

[2018-04-16 12:18] murali-reddy commented on #396
@ckeyer Can you check if the kube-proxy is setup properly? Manifest you deployed uses kube-proxy for service proxy. from the logs it appears that kube-router pod is not able to access the API server.

[2018-04-16 17:41] #385 closed

[2018-04-17 09:36] anihak opened #398 "create policies with kube-router with higher priority than kubernetes network policies"
I am using calico as CNI for my  kubernetes cluster.  **As an admin**,  I want to isolate namespaces at cluster scope in such a way that users in namespaces can't access to other namespaces even if they create nework policies to performe this.   Calico allow me to do that  with **global network policies**  which insert rules into iptables with  higher priority than network policies.

I didn't find

[2018-04-17 12:35] rmenn commented on #370
perhaps this is what is causing the regression https://github.com/coreos/bugs/issues/2407  ? coreos has opened up an issue here : https://github.com/systemd/systemd/pull/7940 we are downgrading to  1576.5.0 to concretely identify the issue, we have disabled the update operator on the cluster so that we do not get upgraded.

[2018-04-17 12:46] murali-reddy commented on #398
There is no equivalent of calico global network policies. It's only Kubernetes network policies that kube-router conforms with.

[2018-04-17 15:32] sourcejedi commented on #370
fwiw systemd/systemd#7940 is not a bug report, it's a pull request.  I haven't seen any systemd bug filed for the coreos bug you linked, instead it seems to be being resolved inside the affected coreos documentation.  (And I don't what the connection would be myself, so I'm not leaping into action following this comment :).

[2018-04-17 15:55] Thoro commented on #282
This is especially pesky with the port 10250 and 10255 see here:

https://medium.com/handy-tech/analysis-of-a-kubernetes-hack-backdooring-through-kubelet-823be5c3d67c

[2018-04-18 06:50] lucab commented on #370
@rmenn I honestly don't see any correlation between the two ticket. If you have any specific elements that I am missing, please make them explicit.

@sourcejedi the specific behavior regressed, but I think there is some consensus that the new behavior is somewhat safer and people should stick with it. We just updated our docs and posted a [notice](https://groups.google.com/forum/#!topic/coreos-use

[2018-04-18 13:00] rmenn commented on #370
perhaps this is what is causing the regression https://github.com/coreos/bugs/issues/2407  ? coreos has opened up an issue here : https://github.com/systemd/systemd/pull/7940 we are downgrading to  1576.5.0 to concretely identify the issue, we have disabled the update operator on the cluster so that we do not get upgraded.

[2018-04-18 13:11] iMartyn commented on #383
I faced exactly this issue when switching from canal to kube-router.  As Killcity mentioned, removing the contents of /var/lib/cni/networks/kubernetes/ folder worked a charm, so thanks for the hint!

[2018-04-19 08:11] johanot opened #401 "Feature Request: Multi-master configuration"
I believe it should be possible to specify multiple master-servers and/or multiple kubeconfigs in order to fully support a multi-master setup.

I generally use **kubernetes.default.svc** as much as possible, since k8s manages load balancing and failover between my 3 apiservers. Kube-router however, obviously cannot use the cluster service endpoint, since kube-router is responsible for setting up r

[2018-04-19 11:38] rmenn commented on #370
@sourcejedi im sorry, it is indeed a PR, i was just trying to document what i was finding, im sure the issues are else where the only thing i found was the `/lib/modules` which are common, nothing else

@lucab same as i mentioned above, the only thing i found was the `/lib/modules` which are common, nothing else

[2018-04-19 18:18] PadmabushanReddy commented on #322
similar issues in kubernetes:
https://github.com/kubernetes/kubernetes/issues/60688

[2018-04-20 03:38] sylecn opened #402 "broken link to docs on www.kube-router.io GET STARTED section"
All links in homepage GET STARTED section is broken.

e.g.
[code]
I didn't find the repo for the homepage, so reporting it here.

[2018-04-20 06:38] murali-reddy commented on #402
Thanks for reporting. Will fix the links.

[2018-04-22 11:31] murali-reddy commented on #402
Fixed https://github.com/cloudnativelabs/kube-router.io/pull/15

thanks

[2018-04-22 11:31] #402 closed

[2018-04-22 16:27] murali-reddy commented on #401
thanks @johanot for the feature request. So are you suggesting the kube-router should switch to alternative master/kubeconfig from the slice if it figures the currently active master is no longer functioning?

[2018-04-22 16:30] murali-reddy commented on #386
Fixed as part of #400 #399

there is still some work left:

- use work queue
- on failure to act upon a update, reque the object to the work queue

Which will even reduce the need for periodic sync.

[2018-04-22 16:30] #386 closed

[2018-04-22 16:36] murali-reddy commented on #380
Part of #399 resync period of shared index informer is set to 0. As per the [discussions](https://groups.google.com/forum/#!topic/kubernetes-sig-api-machinery/PbSCXdLDno0) is sig-api machinery and on my own verfication, it is observed all the objects from cache's are replayed which can get really expensive operation (processin updated). There is no real benefit to set to any value greater than 0,

[2018-04-22 16:36] #380 closed

[2018-04-22 16:41] murali-reddy commented on #349
Closing as its already done in #373

[2018-04-22 16:41] #349 closed

[2018-04-22 16:46] murali-reddy commented on #331
@lavajnv I am working on the fix for this issue as part of #282. Closing this bug.

[2018-04-22 16:46] #331 closed

[2018-04-22 16:50] murali-reddy commented on #282
@Thoro @lavajnv

I am going to take shot at this issue. On top of my head some thing like this should work:

- create a ipset with all current service VIP,s
- deny traffic with matching destination to the created ipset from INPUT chain
- override drop rule, with explicity permit rule for each service IP and port combination.

Will update once i have solution.

[2018-04-23 05:24] murali-reddy opened #407 "perfom disable src-dst check on single node"
Perfom AWS EC2 disable src-dst check on single node when we recieve node updates from API server.  In the current implementation is attempts to disable for all the nodes, in case when there is update from API server on node add/update event.

[2018-04-23 07:41] johanot commented on #401
@murali-reddy Yes, something like that. I'm not expecting any kind of advanced load balancing algorithm. Just the ability for failover between apiservers.

We are running a multi-master setup, but currently we cannot pull out the apiserver kube-router uses, for maintenance, without the entire cluster becoming "static", because kube-router cannot inspect cluster changes and reconcile routes and pol

[2018-04-24 14:56] uablrek opened #410 "Where appropriate kube-router should install multi-path routes"
When multiple peer routers are configured, for example `--peer-router-ips="192.168.0.201,192.168.0.202"` then router should be configured to all peer routers. This enables load sharing for outgoing traffic.

This is supported when gobgp uses the [zebra backend](https://github.com/osrg/gobgp/blob/master/docs/sources/zebra-multipath.md).

All routers are in the RIB (narrowed);

[code]

But only one

[2018-04-25 14:05] johanot opened #411 "Garbage collect KUBE_DUMMY_IF ip assignments"
Deleted or changed service IP's are not removed from the **KUBE_DUMMY_IF** on nodes.

We currently have about 70 active ClusterIP services in our cluster, but kube-dummy-if has *1059* ip-addresses assigned. This actually turned out to be a real problem, because we had another host service that was configured to listen on all interfaces and breached ulimits when trying to open its 1024+ listening s

[2018-04-26 15:44] xanonid opened #412 "regression: namespaceSelector-NetworkPolicy does not work in v0.2.0-beta4"
With kube-router v0.2.0-beta4, a NetworkPolicy with namespaceSelector, like

[code]
does work only partially. The IPs of pods in otherNamespace are not added to the corresponding ipset, only the pods matching the podLabel. With v0.1.0, the same NetworkPolicy works correctly.

Used versions:
Kubernetes v1.9.7
kube-router v0.2.0-beta4

[2018-04-27 14:13] SEJeff opened #413 "Consider setting ipvs sysctls"
Per [this redhat article](https://access.redhat.com/solutions/58653), ipvs doesn't failover properly with udp services until the timeout is hit. This results in the data being blackholed for the duration of the timeout (defaults to 5 minutes). Setting this sysctl fixes this:

    net.ipv4.vs.expire_nodest_conn: 1

Also from the article, this sysctl allows the backend weight to be set to 0 to quies

[2018-04-27 14:13] SEJeff commented on #413
This [article](https://www.sebastien-han.fr/blog/2012/10/19/highly-available-lvs/#II-5-Efficiency-corner) also has some extra background on the problem.

[2018-04-27 21:43] drobinson123 commented on #370
RouteReplace is silently failing, kube-router panicked because the route was not added:

[code]

When the pod was restarted (by k8s, after the panic) routes were still not setup correctly, but it failed somewhere else (it did not panic again). Here's what the routing table looks like in its broken state -- it's missing a route for 100.96.10.0:

[code]

But the weird thing is that the kube-router l

[2018-04-28 08:38] Jacky2 opened #415 "IPVS: rr: TCP 10.254.159.251:9004 - no destination available"
Why I use kube-route in kubernetes,

After running 20 web, kubernetes found that kubernetes node could not connect.

Open the host to find the following error information.

![20180428163023](https://user-images.githubusercontent.com/23411395/39394207-b8e6d144-4b01-11e8-89e1-83d19674f777.png)

[2018-04-29 06:43] murali-reddy commented on #370
only other thing that is in between `kube-router` and `kernel` is `netlink` library. There is something wierd I noticed as well with netlink `RouteReplace` when testing out a [patch](https://github.com/murali-reddy/kube-router/commit/35e5942bff7fe57dfc2dd31d22e99843ba4582b9) that uses `netlink.RouteReplace`. Library method call does not fail, but route is not replaced wither. Got to look at the  i

[2018-04-29 08:15] johanot commented on #415
@Jacky2 That just looks like sevice endpoints which do not have any underlying pods to forward requests to? Seems like a legit error message to me?

It looks a bit scary with so many kernel messages, but on the other hand - in a real production scenario it would be a pretty serious error.

[2018-04-30 14:54] murali-reddy commented on #286
@tkellen looks like you are still running into issues as noted in https://github.com/containerd/cri/issues/545 I am reopening here to track and work for resolution.

[2018-05-01 13:00] uablrek commented on #307
Please consider it. Ipvs, gobgb and ip6tables are supporting ipv6. I think the effort is smaller than one think since the commands are basically the same but with other addresses (don't know about the netlink though).

[2018-05-01 23:30] killcity commented on #411
Is this the same as https://github.com/cloudnativelabs/kube-router/issues/383?

[2018-05-02 01:09] #411 closed

[2018-05-02 01:36] Random-Liu commented on #286
@murali-reddy @tkellen We think that we should not support dynamically loading and changing cni config, because it will only break the system.

I'm not quite familiar with kube-router, but if I understand correctly it is doing multi-stage cni config initialization. Given that, I think it is safer to initialize the cni config in a different directory, and move the config to actual cni directly at t

[2018-05-02 16:16] tonidas commented on #415
I have the same on ALL my node logs! And the ip it's always the same as the host itself.

[2018-05-02 16:24] murali-reddy commented on #415
I wonder if the service is marked with `externalTrafficPolicy=Local`.

[2018-05-02 16:36] tonidas commented on #415
@murali-reddy not in my case :)

[2018-05-02 16:44] murali-reddy commented on #415
@tonidas so you mean, there was IPVS service configured on the node with endpoints, and still you saw this error message?

[2018-05-02 16:46] tonidas commented on #415
@murali-reddy I didn't put any externalTrafficPolicy=Local configuration. That's what I meant.

How do I check if there is a "IPVS service configured on the node with endpoints"?

[2018-05-02 16:52] murali-reddy commented on #415
Either you use https://github.com/cloudnativelabs/kube-router/blob/master/docs/pod-toolbox.md or just loging to the kube-router pods on the concerned node and do `ipvsadm`.

You should see IPVS services and server details.

[2018-05-02 17:00] tonidas commented on #415
Here is the output:
[code]
The node in question is 10.0.62.10 (ip-10-0-62-10).

It logs on its kernel log:

[code]

Sorry if I borrowed the @Jacky2 issue. Maybe it's not related to his case.

[2018-05-03 07:30] johanot commented on #411
@murali-reddy Works like a charm! Just tested - during today's keynote in Copenhagen :-) - on our cluster and stale IP's are removed as expected.

[2018-05-03 07:37] murali-reddy commented on #411
@johanot thanks for confirming.

@dlamotte Keep the PR's coming in :)

[2018-05-03 07:39] murali-reddy commented on #411
@johanot do plan to attend https://kccnceu18.sched.com/event/Dqv8/global-container-networks-on-kubernetes-at-digitalocean-andrew-sy-kim-digitalocean-intermediate-skill-level :)

[2018-05-03 22:02] andrewsykim opened #419 "Upgrade kubernetes dependencies to support v1.10"
Specifically client-go, api, and apimachinery.

[2018-05-04 11:06] murali-reddy opened #421 "missing PBR for the node to send reverse traffic over the tunnel interface"
In scenario where `node A` sends traffic to `pod B` running on `node B`, and nodes are in different subnets, a tunnel interfaces are created on both the nodes to send traffic in IPIP tunnels.

So `node A`:`pod B` traffic gets encapsulated with outer header as `node A`:`node B`, and traffic is sent over tunnel on node A. On `node B` traffic is decapsulated and send to pod B.

Return traffic from po

[2018-05-04 11:09] murali-reddy commented on #421
Same above scenario applies for the pod in host network tries to access the pod running on node in different subnet.

[2018-05-04 12:34] #412 closed

[2018-05-04 12:36] murali-reddy commented on #412
@xanonid thanks for reporting. indeed it was regression.

Fix is present in `cloudnativelabs/kube-router-git:master`

[2018-05-05 16:21] murali-reddy opened #423 "include diagnostic tool in the pod toolbox"
[Pod toolbox](https://www.kube-router.io/docs/pod-toolbox/) comes pretty handy in showing the configuration done by the kube-router on node. To complement include a diagnostic tool in the pod toolbox which can do below:

- run through IPVS service and server and match against the k8s service and endpoint objects and verify necessary configuration are there
- verify `kube-dummy-if` is present and s

[2018-05-05 21:06] mafzst commented on #396
I encounter a similar problem on `v0.2.0-beta.4`

On my side it's `NetworkService` which misse heartbeat. Here is my container log:

[code]

Note: On another node all is fine. The two machines are the same

[2018-05-06 06:01] murali-reddy commented on #396
@mafzst So there is error `Running modprobe ip_vs failed with message: modprobe: module ip_vs not found in modules.dep` which is result of docker lib network library performing`modprobe -va ip_vs` to load IPVS kernel module. Looks like there was issue loading the module.

Perhaps related to https://github.com/kubernetes/kubernetes/issues/60869. Could you let me know what version of Kernel and dist

[2018-05-06 06:05] murali-reddy commented on #307
https://github.com/vishvananda/netlink libray that is uses supports IPV6 as well.

[2018-05-06 08:46] mafzst commented on #396
@murali-reddy
Here some kernel/distro info:
[code]

[2018-05-06 10:42] murali-reddy commented on #396
@mafzst Can you quickly try [pod toolbox](https://www.kube-router.io/docs/pod-toolbox/), and see you have ipvs configured?

Lets open a different issue.

[2018-05-06 12:23] tuarrep opened #425 "Service proxy: No route to host"
Related to https://github.com/cloudnativelabs/kube-router/issues/396#issuecomment-386869066

My services aren't proxyable:
[code]
When hitting http://localhost:8001/api/v1/namespaces/oma-system/services/http:icecast-master:8000/proxy/ with kubectl proxy

Here the tool box output of the pod running on the same node as my service pod:
[code]

And here the output on the master node:
[code]

[2018-05-06 14:36] murali-reddy commented on #425
Configuration (routing and ipvs) seems fine. Are you able to access the service over `NodePort`?

Also when you access the service through proxy, do you see `ActiveConn` going up on master node `ipvs` details?

Also can you try to access the `10.104.7.177:8000` from the master node? `10.104.7.177` is cluster IP for the service if i am correct.

[2018-05-06 16:07] mafzst commented on #425
I've tried to run `watch -n 1 'ipvs -ln'` to see if `ActivConn` is going up.
It stays to `0` but I'm not sure if `watch` can seethe change in the time frame selected.

The service seems to be inaccessible from the master node:
[code]

Also, I can't access this service through NodePort:
[code]

If it can helps:
[code]

[2018-05-06 18:42] phemmer opened #426 "Large delay before advertising load balancer service"
There seems to be a very large delay (minutes) before kube-router advertises the address of load balancer services via BGP.

#### 13:47:31 - converted webconsole service from type `ClusterIP` to type `LoadBalancer`:
[code]

The router (bird) logs the following:
[code]

#### ~13:51:00 - exec into kube-router pod on `fll2aosm01ci` (172.17.0.2)
Unfortunately I don't know the exact time I did this, bu

[2018-05-07 00:48] Jacky2 commented on #415
@johanot
Yes, it will deplete the memory of my server node, making it impossible for me to log on to my node server.

[2018-05-07 00:53] Jacky2 commented on #415
@murali-reddy   no, i do not configure the service is marked with externalTrafficPolicy=Local.

[2018-05-07 00:57] Jacky2 commented on #415
@tonidas Maybe your situation is the same as mine

[2018-05-07 01:03] Jacky2 commented on #415
@murali-reddy  This is the ipvsadm situation of the node server with problems.
![20180507085951](https://user-images.githubusercontent.com/23411395/39680634-7ac5865a-51d5-11e8-9d16-af0b61bd401d.png)

[2018-05-07 04:55] murali-reddy commented on #425
I think real problem is `stout@master-1:~$ curl http://10.104.7.177:8000`. Accessing cluster IP should work and as you observed IPVS active connection is not increasing so that indicates packet not even reaching to IPVS also error `No route to host` indicates so.

So this is how it would work in normal case. On each node service VIP's (cluster IP, external IP) are assigned to a dummy interface `ku

[2018-05-07 10:09] murali-reddy opened #427 "routing on tunnel interface not set correctly"
When nodes are in different subnets IPIP tunnelinig is used to send the pod-to-pod traffic across the nodes.

So right now the tunnel interface looks like
[code]

While it works fine when physical interface used for the tunnel has single IP. But when there are multiple IP's on physcial interface, then traffic send on the tunnel interface, eventually may endup sending the packets with not necessari

[2018-05-07 16:36] mafzst commented on #425
Here the `ifconfig` about `kube-dummy-if` interface:
[code]

And here my routing table:
[code]
`kube-dummy-if` seems not to be configured as attended :/

`kube-proxy` ds seems to be well deleted:
[code]

And, finally, the content of the master IP tables:
[code]

[2018-05-08 12:29] basvandenbrink commented on #309
I am also interested in multicast support for kube-router. Are there any plans to implement this?

@Daviey : I know that Weave support multicast, but AFAIK, they use an overlay network. This would mean that they have to broadcast multicast datagrams to all nodes. Do you know more about this? Does it perform well?

I also know that [Contiv](https://github.com/contiv/netplugin) supports multicast in

[2018-05-08 13:55] murali-reddy commented on #425
@mafzst are you on slack? #kube-router is channel on Kubernetes slack. May be I can do quick hangout/zoom etc do fasten up.

[2018-05-09 15:48] xanonid commented on #396
@murali-reddy I do not see any missed heartbeats with v0.2.0-beta.4 (or more exactly, I see only missed heartbeats during the first 10s after startup). If v0.2.0-beta.5 could be released soon, I would be able to perform more testing.

Sidenode: Meanwhile, I experienced problems with v0.1.0 due to missed heartbeats & failing health checks when the cluster and pods are notably rescaled. These seem t

[2018-05-09 17:29] dlamotte opened #429 "Proposal to refactor some internal workings"
We've been using kube-router for a while now and I've been hacking on it
enough now that I have some idea of what's going on internally now.  I'd like
to propose some core architectural changes to how services are handled
internally and how they interop with the OS they're interacting with.

I want to say thank you for all the hard work that has gone into kube-router
so far.  It's exposing amazing

[2018-05-10 22:02] #427 closed

[2018-05-10 22:19] murali-reddy commented on #396
@xanonid thanks for sharing your observations. We will release `v0.2.0-beta.5` in a day or so. Let me also check possible cases where kube-router does not respond the health checks.

[2018-05-10 22:33] murali-reddy commented on #425
@mafzst I should have mentioned this earlier, service VIP's (cluster IP, external IP and load balancer IP) are configured on the `kube-dummy-if` like below.

[code]

You shall also see they are routable with in the host as
[code]
If you see configuration like above, then at least traffic should hit IPVS when you access either nodeport or cluster IP services.

[2018-05-11 19:37] steven-sheehy opened #434 "Static Egress IP"
It would be useful if kube-router supported making egress pod traffic appear as a specified static IP. Normally egress traffic gets a SNAT to appear as the node IP when it leaves the cluster. Instead, kube-router would intercept this traffic on each node and route, proxy or NAT it to appear as a VIP. This VIP would already be routed to one of the nodes via kube-router, MetalLB or a cloud provider'

[2018-05-12 03:46] #376 closed

[2018-05-12 16:46] telmich commented on #307
+1 - looking forward very much to ipv6 support in kube-router (we are on ipv6 only networks)

[2018-05-12 18:44] murali-reddy commented on #426
@phemmer thanks for detailed observations. Earlier there used to be periodic sync with duration of 1 min which was bumped to 5 min. These periodic sync's are just meant to be reconciliation of desired state. But on any relevent events (like service add/delete, endpoint add/delete etc) kube-router acts on the event and perform the sync's.

From your observation, when full sync happens (ie. at 5 min

[2018-05-12 21:16] phemmer commented on #426
I bumped the logging level up and have the logs from one of the kube-router pods below. According to the logs it's receiving the watch notification, and claims to be advertising it, so dunno.

Logs filtered for `10.128.67.80` or `sync` or `test`
[code]

* 20:47:46 - service created
* 20:49:45 - IP shows up in `gobgp neighbor 172.17.0.1 adj-out`
* 20:54:45 - route shows up on router

I've repeated

[2018-05-12 21:39] murali-reddy commented on #426
@phemmer ok I figured whats happening. So kube-router uses export policies to control what is advertised. So when service is added/deleted RIB is updated but corresponding export policies are not updated.

You shall see a prefix set like below, which should get updated with service VIP's.
[code]
`clusteripprefixset` is getting updated only during periodic sync which is 5 min duration by default.

[2018-05-12 21:58] phemmer commented on #426
Thanks! That does appear to have fixed the issue.
The first time I created a new service with this fixed version, the router only received routes for half the nodes. The other half didn't show up until the next sync (and the missing nodes did have it listed in their policies). But this only happened the first time. I've done it about 10 more times and it hasn't happened again.

[2018-05-12 22:02] phemmer commented on #426
Actually, nix that, I can reproduce it. It seems to happen the first time after kube-router is started.

[2018-05-12 23:45] phemmer commented on #426
I think I figured it out. It's more graceful restart issues.
I noticed something in the router's logs as soon as the missing nodes started working:
[code]

Note that it connected at 19:36:03, but `Neighbor graceful restart done` didn't come in until 19:42:03, which is when the missing service IP came in.

Now as for why the nodes apparently have a 50/50 chance of getting into this state, I don't k

[2018-05-13 03:02] #426 closed

[2018-05-13 04:16] murali-reddy commented on #396
@xanonid New release [v0.2.0-beta.5](https://github.com/cloudnativelabs/kube-router/releases/tag/v0.2.0-beta.5) is out please try and see if you see any issues with kube-router not responding to health checks.

[2018-05-13 15:58] murali-reddy commented on #182
Fixed in #436

[2018-05-13 15:58] #182 closed

[2018-05-13 15:59] murali-reddy commented on #280
Fixed as part of #362

[2018-05-13 15:59] #280 closed

[2018-05-13 16:07] murali-reddy commented on #415
@Jacky2 I do see many services with 0 endpoints (or pods backing the service). Are you sure the service that you were trying to access has the endpoints?

[2018-05-13 21:29] ieugen commented on #419
Hi,
Does this mean kube-router does not work with k8s 1.10? I wish to try it out with hobby-kube setup [1].

[1] https://github.com/hobby-kube/guide

[2018-05-13 23:09] andrewsykim commented on #419
Hey @ieugen, kube-router should still work with 1.10. If it doesn't please let us know :)

[2018-05-14 12:54] johanot opened #438 "Stale service IPs are still not fully cleaned up?"
This one puzzles me a bit.. kube-router logs:

, the deletion of the address then later fails silently, because that IP address is *not* assigned to kube-dummy-if.
Silent failure is not entirely true, because lldpd on the node complaints with:

On my container-node in question:

`ip addr show |grep 10.232.37.229`
(no match)

however (below gives a match)

`ip route show table all |grep 10.232.37.2

[2018-05-14 13:13] murali-reddy commented on #438
@johanot thanks for reporting the issue.

I think it perhaps a regression from #433, there is explict route added in `local` routing table to use node IP when accessing the service VIP's assigned to the `kube-dummy-if`.

I will test and fix it if needed.

[2018-05-14 14:26] johanot commented on #438
AFAIK no issues other than log noise for every reconcile cycle. :) But of course this could potentially lead to performance issues in case of a high number of service IPs.

[2018-05-14 15:01] murali-reddy commented on #376
@phemmer if you get a chance could you please check if fix in latest release `v0.2.0-beta5` this issue.

[2018-05-14 16:57] phemmer commented on #376
Yes, the issue does appear to be resolved.

[code]

Thanks.

[2018-05-15 08:51] tiukhtinvladimir commented on #242
kube-router 0.2.0-beta.5 works perfect on 1.9.2 bare metal cluster with MetalLB and --advertise-loadbalancer-ips=true flag. All flags I am using are:
[code]
I have stopped using kube-proxy at all

[2018-05-15 09:51] murali-reddy commented on #242
@tiukhtinvladimir thanks for letting us know. We are pretty close to get `0.2.0` release out. Once released will update the documentation on kube-router and metalb compatibility.

/cc @danderson @jjo

[2018-05-16 12:58] murali-reddy opened #440 "when new node is added to cluster, routes and tunnels are not setup as expected."
When a new node is added to a cluster, occasionally routes and tunnels are not setup as expected.

Though after next periodic sync tunnels and routes are established as expected, there is huge delay (5 min which default periodic sync time). Need to investigate why kube-router does not setup properly while node is bootstrapping.

[2018-05-16 20:08] danderson commented on #242
Great news! Once 0.2.0 is released, I'll write documentation on the integration for MetalLB, and document which kube-router configurations are supported.

One clarification for me: if you set `--advertise-loadbalancer-ips=true`, what exactly happens? Does it do both dataplane programming on nodes, and advertising the service over BGP to external peers? Is the latter optional, i.e. if I don't want

[2018-05-16 20:11] telmich commented on #307
What is exactly missing / needed in kube-router to fully support IPv6?

[2018-05-17 13:00] jjo commented on #242
If --advertise-loadbalancer-ips is set, host node IP/IPVS ("dataplane programming") always happens, then BGP advertising if peers (`--peers-...` args) are set.

[2018-05-17 17:17] murali-reddy commented on #421
Fixed in #442

[2018-05-17 17:17] #421 closed

[2018-05-18 13:08] murali-reddy commented on #370
So me and @roffe have been testing this issue independently. I was using below image which is latest core os stable release image.

[code]
I ran `ip monitor` command while the node is booting up i.e) first time kube-router is starting.
I see that route get added by subsequently deleted.
[code]

Once i restart the kube-router pod on the node route gets added but is not deleted.

[code]

So clerly t

[2018-05-21 16:41] eriklindahl opened #444 "Linux host routing to external networks?"
Hi,

This is likely not any issue with Kube-router, but a limitation of my understanding (well, PEKBAC, to be honest).

We have a cluster with a default internal network (on, say, eth0) in the 172.17.xxx.yyy range, and then we use the same network cables/switches with a VLAN to be able to expose selected hosts externally too (although this particular host we use does not have any public IPv4, the

[2018-05-23 07:52] murali-reddy commented on #444
Sorry i am not able to comprehend what the problem is. Can you please elobrate above comment?

[2018-05-23 14:33] dongjun666 opened #446 "Cleaning up ipsets failed with --cleanup-config option"
Cleaning up ipsets failed with `--cleanup-config` option due to
    invalid ipset handler.
Same issue in network_policy_controller.go and network_routes_controller.go

    {"log":"panic: runtime error: invalid memory address or nil pointer dereference\n","stream":"stderr"}
    {"log":"[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0xf8429c]\n","stream":"stderr""}
    {"log":"github.c

[2018-05-23 16:16] jjo commented on #165
For other ones facing this issue, a very nasty _dont-show-your-mom_-like workaround
I'm using on deployed nodes (via terraform, in my case), as changing `/etc/docker/daemon.json`
doesn't apply to devices other than `docker0` (`kube-bridge` an others attached to it in this case):

[code]

[2018-05-24 18:28] alebsack opened #448 "Service Router does not cleanup old ports in ipvs"
I have an app that uses a [service without selectors](https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors).  I've noticed that when pods use a `PATCH` on the endpoints object to update the port but not the IP address (in the case of a container restart and using ephemeral ports in the pod), old `ip:port` entries are not cleaned up from ipvs:

[code]

Here is

[2018-05-24 18:53] t3hmrman opened #449 "kube-router initContainer pod gets stuck under rktnetes"
kubernetes: `v1.10.2`
kube-router: `v0.2.0-beta.6`
rkt:
[code]

While getting a new cluster up and running with `rkt` and Kubernetes `1.10.2`, I found that the `kube-router` pod would get stuck initializing, with the following errors showing up in the `kubelet` systemd logs:

[code]
I was using [`kubeadm-kuberouter-all-features.yaml`](https://raw.githubusercontent.com/cloudnativelabs/kube-router/m

[2018-05-25 09:56] Jacky2 commented on #415
@murali-reddy Yes,I can access has the services。

[2018-05-25 12:04] eugenepaniot opened #451 "RouteReflecor client broken in v0.2.0-beta"
# How to reproduce
1. Annotate nodes
1.1 Master node / RR Server
[code]

1.2 Slave node / RR Client
[code]
2. Execute 0.2.0 kube-router

`kube-router --bgp-graceful-restart   --nodes-full-mesh=true --master http://ams04-e01-kbs01:8080   --kubeconfig /etc/kubernetes/kubeconfigs/kube-proxy.kubeconfig   --iptables-sync-period 2s   --ipvs-sync-period 2s   --routes-sync-period 2s   --run-service-proxy=

[2018-05-25 12:49] murali-reddy commented on #451
thanks @eugenepaniot for reprot. So in `0.1.0` its working fine but it's a regression in the latest HEAD?

[2018-05-25 12:52] eugenepaniot commented on #451
@murali-reddy yes, 0.1.0 works fine. I've tried to migrate to latest version, but unsuccessful -(

[2018-05-26 02:03] bretagne-peiqi opened #452 "question: what role exactly for your project"
I need to know what functions it implemented?

cni based network plugin, including network policy using ipvs in kernel ?
should I still deploy kube-proxy for service pod nat   it is already  implemented in your project using ipvs or something more efficient ?

[2018-05-31 11:46] jmzwcn opened #454 "help: not sure if kube-router support multi-cidrs in ipam?"
question: not sure if kube-router support multi-cidrs in ipam?

e.g:
"subnets": ["10.0.0.0/24", "20.0.0.0/16"]

similar to calico:
[code]
Thanks for your any reply or advice in advance.

[2018-06-01 12:35] axelbodo opened #455 "healthCheckNodePort doesn't work"
healthCheckNodePort doesn't work for LoadBalancer type services with externalTrafficPolicy set to local. For example ingress-nginx:
[code]

With kube-proxy, every nodes listens on healtcheck port, but only those reply with 200 which has localEndpoint(s), the others reply with 503.
In case of kube-router no healtheck operation is served for our aws elb, and elb reports instances as OutOfService.
Vi

[2018-06-01 13:34] aleerizw opened #456 "Improve Kops integration"
At the moment, kube-router is not configurable at all in kops. Several feature like health check, hostport support, cli options are not configurable. It would be nice if support can be added for these features.

[2018-06-03 12:12] ut0mt8 commented on #451
I will look at the change if I see something wrong

[2018-06-03 17:42] murali-reddy commented on #451
@eugenepaniot @ut0mt8 this is enforcement done from GoBGP

https://github.com/osrg/gobgp/blob/master/config/default.go#L245

GoBGP version used in `0.1.0` did not had this enforcement.

[2018-06-04 06:35] ut0mt8 commented on #451
Afaik using @IP for cluster id is just a convention. The RFC state 4 bytes long number and most implementation accept both form. Anyway the better is to update the example in the doc.

[2018-06-04 08:20] roffe commented on #413
Running this in my staging cluster at the moment, image is avail at roffe/kube-router-git:issue-413

[2018-06-04 10:02] murali-reddy commented on #451
I opened https://github.com/osrg/gobgp/issues/1719 to know the rationale.

[2018-06-04 10:39] tmc9031 commented on #446
i also found same problem

$ docker run --rm --privileged --net=host cloudnativelabs/kube-router --version
Running /usr/local/bin/kube-router version v0.2.0-beta.6, built on 2018-05-17T16:39:27+0000, go1.8.7

[code]

[2018-06-04 11:52] #413 closed

[2018-06-04 15:21] andor44 opened #459 "Prometheus metrics should use base units"
Prometheus (rightfully) recommends using base units for metrics instead of random units, as documented [here](https://prometheus.io/docs/practices/naming/#base-units). This simplifies consumption of the metrics as you no longer need to convert between all kinds of random units.

To point at one of the metrics [here](https://github.com/cloudnativelabs/kube-router/blob/1c7866cd91874670971c2944924dfa

[2018-06-04 18:05] #446 closed

[2018-06-05 05:51] murali-reddy commented on #451
Ok patch is on the way in GoBGP.

[2018-06-06 18:11] murali-reddy commented on #454
@jmzwcn sorry about the delayed response.

Kube-router does not actually do any IPAM. So it relies on kube-controller-managet to allocate CIDR's for the nodes from the subnet specified through `--pod-network-cidr`. With in the node uses `host-local` CNI IPAM plugin for IP allocation to the pods.

[2018-06-06 18:13] murali-reddy commented on #455
@axelbodo thanks for reporting the issue. i will take a look into it.

[2018-06-06 18:15] murali-reddy commented on #451
Its fixed in upstream, we need to vendor latest master or wait for GoBGP new release.

[2018-06-07 10:31] benbooth493 commented on #370
I've been hit by the same issue running CoreOS ContainerLinux.
I'm on kernel 4.14.44
I tried changing to the Alpha channel which bumps the kernel to 4.16.13 but still experiencing problems.

From discussions on Slack it has become apparent that many distributions running similar kernel versions are also affected.

Any news on current investigations?

[2018-06-07 11:23] johanot opened #461 "Sporadic Connection Refused for services on Network Policy sync"
Some time ago I informally raised on slack that there might be an issue with the NetworkPolicyController causing intermittent connection failures while reconciling. I can now confirm that this happens, although it can be hard to re-create.

I think I narrowed it down to this chunk of code in `network_policy_controller.go`:

[code]

I tried commenting out the ClearChain line and made sure that ingr

[2018-06-07 13:54] roffe commented on #370
Im my tests when trying different OS'es and kernels I was more or less able to pin it down to any kernel after 4.14.11, after that the problem starts manifesting, however i have not been able to find any explanation to why route gets deleted as observed in ip monitor

[2018-06-07 13:54] roffe commented on #370
( i tried all new beta and alpha CoreOS channels, only older releases work)

[2018-06-08 06:38] murali-reddy commented on #461
@johanot thans for details report.

yes, `ClearChain` is the one causing the erros.

this should fix the problem. though its bit more involved. i will try to anayze the effort involved.

Menawhile to mitigate this issue, increase sync time. Ideally periodic sync is not required, unless there is differentce between desired state and actual state for any reason.

[2018-06-08 07:20] johanot commented on #461
@murali-reddy Thanks!

While setting the sync time high somewhat mitigates the issue, we still see a fairly high amount of errors on a daily basis, because we have a pretty active cluster at this point, and each pod. policy, namespace change event causes re-sync as well.

[2018-06-08 08:33] murali-reddy commented on #461
Ah right. Same module is used for both periodic sync and per pod/namespace/policy update as well.

So the problem is still there irrespective of  sync time.

[2018-06-08 16:02] SEJeff commented on #413
Awesome stuff thanks so much @roffe !

[2018-06-11 10:22] mikn commented on #455
We also hit this very recently and switched the service to using `externalTrafficPolicy` to `Cluster` again.
Is there anything we can do and/or help with in advancing this? If I understand it correctly, the healthCheck feature for `externalTrafficPolicy: Local` is not even implemented yet?

[2018-06-12 04:28] murali-reddy commented on #455
@axelbodo @mikn Unfortunatley necessary functionality was not implemented. I will add support for healthCheck feature and make a new release.

[2018-06-12 17:50] roffe commented on #456
Hi @aleerizw all of these options are configurable in a Kops cluster. However it requires you to create a local manifest and replace the Daemonset Kops deploys after the cluster is started.

I see the benefits of being able to customize this at the deploy, However this is on Kops end and currently there is not much ways to interact with the addon manifests it deploys

https://github.com/kubernetes

[2018-06-13 00:14] MarkDeckert opened #464 "not cleaning up iptables -t nat rules"
I have Kube-Router running with all features enabled (no kube-proxy).  If I drain and delete a node, ipvsadm and iptables shows a bunch of leftover rules.  When I rejoin the node to the cluster, Kube-Router doesn't seem to be cleaning up all those leftover rules and it's causing weird issues.

I had to manually clean up the nat rules (ie iptables -t nat -F)

This specifically was causing weird iss

[2018-06-13 14:29] #459 closed

[2018-06-13 20:16] jdconti opened #466 "External IP routing issues when using externalTrafficPolicy=Local (without DSR)"
We currently use `--advertise-external-ip` to advertise (via BGP) an arbitrary static IP (7.129.245.5) for use with nginx-ingress-controller.  Changing the nginx-ingress-controller service to use `externalTrafficPolicy=Local` we found that the external IP was no longer reachable from pods which did _not_ exist on the same node where nginx-ingress-controller pods were running.

Further troubleshoot

[2018-06-14 12:19] mikn opened #467 "Timeouts when doing rolling upgrades of pods behind service with type LoadBalancer"
This is sort of a preemptive issue as we're still in the middle of investigating this, but most arrows are currently pointing towards kube-router.
We have created a service that points to a deployment, this works fine until we trigger a rollout (or actually even just delete a pod in the replicaset). We have taken care to make sure our application terminates gracefully and see no signs of it receiv

[2018-06-14 13:18] murali-reddy commented on #464
there is a [clean up performed](https://github.com/cloudnativelabs/kube-router/blob/master/pkg/cmd/kube-router.go#L64-L73) by all controllers but as an explicit step. Please see if there is a missing iptable configuration to NAT table that is not getting cleaned up.

[code]

I wonder even if its really kube-router should do clean-up on first start. It might be possible many users may be adding the

[2018-06-14 15:02] mikn commented on #455
@murali-reddy I just want to bring this issue onto your radar as you work on this implementation: https://github.com/kubernetes/kubernetes/issues/50977
Which is eerily similar to the issue I reported here: https://github.com/cloudnativelabs/kube-router/issues/467

[2018-06-15 08:36] MarkDeckert commented on #464
Perhaps it shouldn't cleanup on start for the reasons you mentioned.  But it seems like it should be able to correct the discrepancy later during one of its normal syncs.  This would fall in line with the "self healing" kubernetes ideal.

I can think of a number of situations why one might drain and delete a node and then re-join it, without completely wiping it.  It could be a step in investigati

[2018-06-15 11:37] jpds opened #468 "Running virtual-kubelet/fargate causes kube-router to crash"
Running the virtual-kubelet[1] in my kops-provisioned AWS Kubernetes cluster with Fargate[2] causes my kube-router pods to immediately crash with:

[code]

I also saw from other logs:

[code]

[1]: https://github.com/virtual-kubelet/virtual-kubelet
[2]: https://github.com/virtual-kubelet/virtual-kubelet/tree/master/providers/aws

[2018-06-15 17:51] andrewsykim opened #469 "Support BGP Path Prepending"
gobgp allows you to configure path prepends as part of the [policy definition](https://github.com/osrg/gobgp/blob/master/docs/sources/policy.md). Supporting path prepending can be useful since you can let cluster admins have better control of networking traffic by prepending paths (making the AS path longer, i.e. don't route to it unless all other nodes of shorter path fail).

[2018-06-19 16:53] pmichali opened #470 "IPv6: Unable to get subnet of node IP"
Trying to bring up three node cluster with IPv6 using bridge plugin, and then switch over to using kube-router, instead of kube-proxy.

When applying the kuberouter-all-features.yaml, I see kube-router in a crash loop, with this error message:

I0619 16:14:29.935769       1 kube-router.go:186] Running /usr/local/bin/kube-router version v0.2.0-beta.7, built on 2018-06-08T09:34:34+0000, go1.8.7
I061

[2018-06-19 21:51] roffe commented on #470
We do currently not support IPv6, any PR's assisting in that work is greatly appreciated.

https://github.com/cloudnativelabs/kube-router/issues/307

[2018-06-19 21:51] #470 closed

[2018-06-20 10:35] pmichali commented on #470
Is there already an issue for IPv6 support? How does one report problems seen, when trying IPv6?

[2018-06-20 10:37] pmichali commented on #470
OK, so should problems seen with IPv6 use, be reported under issue #307? I'm just trying to capture a specific problem seen.

[2018-06-20 11:12] johanot commented on #461
@murali-reddy When you have time, tell me what you think about the fix that I referenced here ^^. It's not perfect, but it solves our problems for now.

[2018-06-20 15:29] pmichali commented on #307
As a follow-up to issue #470 I've changed the address family temporarily and hit a few more issues/concerns/unexpected items, and figured I'd document them here FYI.

First, I started with an existing cluster, that had bridge CNI plugin. The config called out a /72 pod subnet CIDR and the CNI configurations on nodes defined /72 subnets. When I started up kube-router, it created a new CNI config, t

[2018-06-21 04:40] murali-reddy commented on #461
Looks good @johanot Would you mind raising a PR?

I assume old version of chains get automatically cleaned up?

[2018-06-21 08:01] johanot commented on #461
Yes, @murali-reddy . `func cleanupStaleRules` handles that, although "stale" is maybe not the right wording anymore, since it's now part of the normal reconcile procedure.

Also: It is important to note that the order of cleanup operations is important. It is important to delete the previous FORWARD and OUTPUT chain rules **before** flushing the former NWPLCY chains. But, the cleanupStaleRules-fun

[2018-06-21 22:00] wskinner opened #474 "Egress policy not fully applied"
Environment:
Kubernetes version: 1.8.11
Kube-Router image: cloudnativelabs/kube-route

I have a network policy which I intend to allow ingress and egress for all pods in a namespace on port 9999, and block all other traffic.
[code]

This policy doesn't work as expected. Egress traffic to non-cluster addresses is disallowed, but egress inside the cluster is allowed. I tried the following cases:
1.

[2018-06-25 06:52] bush-niel commented on #370
Hey just a hunch. Do you think this is due to systemd-networkd.service interfering and trying to modify the routes?! If you run a networkctl command (to introspect the state of the network link as seen by systemd-networkd) you will understand why I am suspecting this.

Also as a work around do you think kube-router would require files likes this  (/usr/lib/systemd/network/50-flannel.network) to le

[2018-06-26 09:52] murali-reddy commented on #370
@bush-niel Not sure about this, but can try out. If there is any such dependency may by Kubelet should have already been started after networkd?

[2018-06-26 09:55] murali-reddy commented on #466
External IP advertisement is indepedently usable functionality irrespective of DSR is in use. I will try to reproduce the issue.

[2018-06-26 10:29] tasdikrahman commented on #370
@murali-reddy didn't get that, sorry if it's something silly. Could you elaborate more on it please, if you don't mind?

[2018-06-27 06:06] libnux commented on #326
@murali-reddy, do you have plan to support this? Thanks

We really need this feature to restrict pods from accessing addresses in some CIDRs, and we enforce this restriction with Calico.

Now we're studying kube-router, and plan to switch to it in future.

[2018-06-28 09:57] xanonid commented on #461
@murali-reddy I could confirm that regularly connections are refused with v0.2.0-beta.7 (and probably earlier versions) as described in this issue. It would be nice if v0.2.0-beta.8 could be released soon.

[2018-06-28 10:19] murali-reddy commented on #461
@xanonid Sure. We will do a new release. @johanot PR already merged in the master

[2018-06-28 11:08] murali-reddy commented on #326
@libnux we are trying to get a 0.2 release out. We will work on this enhancement for 0.3 release

 A PR would be welcomed though :)

[2018-06-29 08:17] voidengineer opened #475 "NetworkPolicy: Support including both podSelector and namespaceSelector in a NetworkPolicyPeer"
Hi,

Kubernetes 1.11 allows including both podSelector and namespaceSelector in a NetworkPolicyPeer (see PR https://github.com/kubernetes/kubernetes/pull/60452 and issue https://github.com/kubernetes/kubernetes/issues/58637).

Are there any changes required in kube-router to support this?

[2018-07-01 15:05] johanot commented on #474
It definitely doesn't work when "0.0.0.0/24" is inserted directly into the filter table like that. If such syntax was supported, kube-router should translate that to <pod-cidr>/24 before invoking iptables. However, I don't think that Network policies was ever intended to work with https://tools.ietf.org/html/rfc5735#section-3 syntax, like 0.0.0.0/24.

To select all pods in the cluster, instead of

[2018-07-01 21:52] johanot commented on #475
Yes, changes are required.

The network_policy_controller currently assumes that the policy peers have _either_ namespaceSelector or podSelector. I'm working on a PR.

[2018-07-01 21:56] johanot commented on #461
@murali-reddy Just discovered a bug I introduced with this fix, unfortunately. Will be back with more words and a second PR shortly. Better hold back the release a day or two.

[2018-07-01 22:29] johanot opened #477 "New chains are not generated, irrespective of the added syncVersion"
The fix for #461 introduced a syncVersion which is appended to the components that make up the unique firewall and policy chain names. Unfortunately, a int64 to string conversion has been implemented incorrectly such that chain names are always the same.

Since the ClearChain step has been removed, this mistake causes old chain rules never to get cleaned up, and thus changes to existing network po

[2018-07-02 09:05] johanot commented on #461
@murali-reddy, the fix is here.. https://github.com/cloudnativelabs/kube-router/pull/478

[2018-07-02 18:05] johanot commented on #475
@murali-reddy @voidengineer When you have time, let me know what you think of: https://github.com/cloudnativelabs/kube-router/pull/479

[2018-07-02 20:26] jdconti opened #480 "Allow setting next-hop when multiple peer routers are defined"
As discussed on [#kube-router slack.](https://kubernetes.slack.com/archives/C8DCQGTSB/p1530560213000411)  We should be able to define the next-hop for a given peer router in the `--peer-router-ips` list or `kube-router.io/peer.ips` annotation.

One possible use-case for this would be for resiliency:
[code]
\* The above assumes the same ASN per interface with all other attributes the same except ne

[2018-07-03 01:14] acloudiator commented on #337
I'm having this similar issue.
@dimm0 Have you found any remedy/workaround for it?

[2018-07-03 01:30] acloudiator commented on #337
tcpdump
[code]

iptables -L -t nat
[code]

kubectl get svc -o wide
[code]

kubectl get pods -o wide
[code]

kubectl get ep -o wide
[code]

kuberouter version and other details
[code]

[2018-07-03 01:48] dimm0 commented on #337
Switched to calico, no troubles since then

[2018-07-03 05:58] voidengineer commented on #475
LGTM

[2018-07-04 08:59] jimmy-zh opened #481 "creating new network policy causes kube-router to crash"
kubernetes: v1.10.3
kube-router: v0.2.0-beta.7

running kube-router as daemonset, the yaml config is the same as
kube-router/daemonset/kube-router-firewall-daemonset.yaml

the new network policy's content:
[code]
when apply this network policy to k8s,kube-router crashed,the kubectl logs {kube-router-pod} shows that:
[code]

[2018-07-04 22:09] ieugen opened #482 "Documentation clarification regarding --allow-privileged=true ?"
Hi,

From the docs at [2] it mentions that:

Is this still valid? If yes, it would be great to have some instructions on how to do/check that.
If this is not valid in recent Kubernetes versions, then a link to docs + mention is great.

I can make a PR for the docs i this is

[1] https://kubernetes.io/docs/concepts/workloads/pods/pod/#privileged-mode-for-pod-containers
[2] https://github.com/cloudn

[2018-07-05 04:03] xanonid commented on #482
IMHO, instead of using  privileged:true, only the required capabilities (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#capabilities-v1-core  ) like NET_ADMIN and probably some few others should be used and documented.

[2018-07-05 09:24] zoharm opened #483 "Peer only with 'kube-router.io/peer.ips' - not with k8s NodeIP"
Kube-router always peers with nodes with same ASN on the kubernetes configured NodeIP (the IP defined in the kubelet)

Currently the `kube-router.io/peer.ips` allows you to peer kube-router with any other IPs. However, kube-router will also try to peer with the assumed kubernetes NodeIP.

This can be an issue if that NodeIP is on a different subnet than the direct link between the nodes, such as i

[2018-07-05 11:54] zoharm commented on #483
found `--enable-ibgp=false` option and tested with it, it does what we need so will use that and close this for now.

One improvement that could be made though is in the case of custom internal peering without full mesh, just use `--cluster-asn=64512` and annotate `kube-router.io/peer.ips` (or equivalent) without needing to annotate `kube-router.io/peer.asns`

[2018-07-05 11:54] #483 closed

[2018-07-05 17:23] murali-reddy opened #484 "source address used when sending packets over tunnel interface is wrong"
In multi-homed nodes node's can have multiple IP's. It is observed that source address used when sending the packets is not exaclty the node IP.

In an e.g setup

[code]

Tunnel interfaces are established as

[code]

IP route is setup to use source IP which is the node IP as well

[code]

However when packet is sent on the tunnel interface, in case of multi-homed network IP used is not the node ip

[2018-07-05 22:56] acloudiator commented on #337
@dimm0 The reason I am sticking with kube-router is mainly for the performance, but seems like none of the kube-router experts are looking this ticket :(

[2018-07-06 09:20] sadlar opened #485 "How do I bind a specified IP to a pod?"
use kube-router，How do I bind a specified IP to a pod?

[2018-07-06 14:12] bornmanm commented on #461
@murali-reddy We have some problems with this too. It would be great if v0.2.0-beta.8 was released soon.

[2018-07-06 16:16] murali-reddy commented on #461
Sure. We will do a release in the week end.

[2018-07-08 21:28] bornmanm commented on #461
@murali-reddy Thanks a lot. Really appreciate it!

[2018-07-09 03:05] murali-reddy commented on #475
Fixed in https://github.com/cloudnativelabs/kube-router/pull/479

[2018-07-09 03:05] #475 closed

[2018-07-09 04:40] murali-reddy commented on #314
https://www.weave.works/blog/linux-namespaces-golang-followup

[2018-07-09 07:22] #461 closed, assigned to nobody

[2018-07-09 07:47] mikn commented on #467
After a rather in-depth investigation, this seems to be the issue we're hitting: https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02
We are currently investigating a kube-router patch.

[2018-07-09 08:54] aleerizw opened #486 "Performace regression due to #433"
I tired to upgrade kube-router from version  v0.1.0  to v0.2.0-beta.6 and I noticed that the kube-router pod is using a lot more CPU, from ~10 % peak to more than 125% continuously.

One big difference that I saw was services sync takes longer than before:

For v0.2.0:
[code]

And for v0.1.0
[code]

We do have a lot of services ~3k, but both of these pods were running on the same cluster and with

[2018-07-09 16:46] pmichali commented on #307
Here are some additional things that I see with the current kube-router code...

- The docker image has iptables, but not ip6tables
- In controllers/routing/pbr.go it uses ip commands, but is not using the "-6" argument for IPv6.
- In controllers/routing/pod_egress.go it creates an iptables object, instead of an ip6tables object

I've done some hacks to the code to force the above to use IPv6 equi

[2018-07-09 23:22] mgcrea opened #487 "Dashboard not working out of the box 10.96.0.1:443: getsockopt: no route to host"
Not sure if I have missed something but after having tried flannel with a very basic `nginx-ingress` based setup, I wanted to give kube-router a go:

after un full cluster reset:

[code]

went with the `kube-router providing pod networking and network policy` only to try, (if I understood correctly you have the choice between a light install and full-fledged install.

[code]

If I try to spin up t

[2018-07-10 05:40] daddylhz commented on #481
In func NewNetworkPolicyController(clientset kubernetes.Interface,
	config *options.KubeRouterConfig, podInformer cache.SharedIndexInformer,
	npInformer cache.SharedIndexInformer, nsInformer cache.SharedIndexInformer)
	npc.v1NetworkPolicy = true
	v, _ := clientset.Discovery().ServerVersion()
	minorVer, _ := strconv.Atoi(v.Minor)
	if v.Major == "1" && minorVer < 7 {
		npc.v1NetworkPolicy = false
	}

[2018-07-10 10:47] ieugen commented on #484
@murali-reddy : I still did not find a way make the service trafic route via wireguard. I've switched to calico and things work so it means they are doing something good. Let me know if I can provide any information but right now I won't have time to invesitgate kube-rotuer for some time.

[2018-07-10 13:07] jimmy-zh opened #489 "WaitForCacheSync method is too slow to lead to unhealthy judgment"
In some cases, when the WaitForCacheSync method is too slow and the --iptables-sync-period value is too small,the CheckHealth method will return false, which will eventually cause k8s to restart kube-router circularly.
In fact,the CheckHealth method should take into account the initialization process including WaitForCacheSync.

[2018-07-10 14:22] aleerizw commented on #456
I the health check and the metrics port to the existing manifest:https://github.com/kubernetes/kops/pull/5426

[2018-07-10 16:00] murali-reddy commented on #489
@jimmy-zh thanks for your analysis
default value for `-iptables-sync-period` is 5min, at what time values you are seeing this behaviour?

cc @roffe

[2018-07-11 10:48] #469 closed

[2018-07-11 21:46] roffe commented on #486
@aleerizw that route replace command is also the command that sets up up the initial route, if you deploy this code to existing nodes not much will break since the routes are already there, if you run it on a new fresh node the services will not be routed correctly

I created  a PR and added a function to check if the ip already is on the interface, and if not, don't run the command at all. This c

[2018-07-11 21:54] roffe commented on #486
I got a image built for the PR @ `roffe/kube-router-git:issue-486-1`

[2018-07-11 22:48] roffe commented on #486
Made new build after some code cleanup `roffe/kube-router-git:issue-486-2`

[2018-07-12 01:09] roffe commented on #486
@murali-reddy i also implemented a debounce function so sync() can't be called more than every 100ms by the event handler. The normal sync is still executed according to syncPeriode

[2018-07-12 09:35] roffe commented on #489
@jimmy-zh Which version of kube router are you running there was some big changes in the healthcheck system not to long ago, also as @murali-reddy mentioned, What sync period are you running, the default 5 min?

[2018-07-12 12:28] andrewsykim commented on #489
Slow `WaitForCacheSync` can also mean you're API server has too much load.

[2018-07-12 12:39] andrewsykim commented on #337
Sorry, this fell off my radar, will try to find time to dig into it in the next few weeks. If anyone has more information that will help debug please let me know.

[2018-07-12 13:53] murali-reddy commented on #337
@dimm0 sorry things did not work out with kube-router for you. You guys were very first set of large scale users to use kube-router when project was still infancy. Lot of valuable feedback came from you guys.

With multiple interfaces things get little bizarre with Kubernetes. there is just one line prerequisite:

https://kubernetes.io/docs/tasks/tools/install-kubeadm/#check-network-adapters
and c

[2018-07-12 21:02] mjhoffman65 commented on #329
@murali-reddy did you get a chance to look into this at all?  I'm running into the same issue on an AKS cluster

[2018-07-16 20:43] mjhoffman65 commented on #329
Got an example working.   I can open up a PR if there's interest and it works for others

In the meantime, this is what I did to get it working:

- Used https://github.com/Azure/AKS/blob/master/examples/vnet/00-README.md as an example to setup my AKS cluster using azure networking

- Ran `kubectl get nodes -o name | xargs -I {} kubectl patch {} -p '{"spec":{"podCIDR":"10.53.8.0/22"}}'` (Replace po

[2018-07-17 01:01] murali-reddy commented on #329
@mjhoffman65 sorry i did not a chance to look into AKS. But glad you figured out. A PR would be awesome. Thanks.

[2018-07-20 04:36] mancosun opened #491 "/var/lib/kube-router/kubeconfig: is a directory"
Hi  ：
     when deploy kube-router use"kubectl apply -f https://raw.githubusercontent.com/cloudnativelabs/kube-router/master/daemonset/kube-router-all-service-daemonset.yaml"
got this logs:"Failed to parse kube-router config: Failed to build configuration from CLI: Error loading config file "/var/lib/kube-router/kubeconfig": read /var/lib/kube-router/kubeconfig: is a directory"

pls

[2018-07-20 07:03] #491 closed

[2018-07-20 07:52] murali-reddy commented on #491
@mancosun Were you able to resolve the issue?

[2018-07-20 12:06] johanot opened #492 "Allow for use of non-standard BGP-port internally and externally"
### Usage Scenario

I have a router box that runs bird for peering with other parties outside the cluster. I want the same server to peer with my k8s cluster using kube-router. Thus, I get a socket ip:port clash.

Bird and other BGP clients/servers support specifying a custom remote and listening port for BGP.

### Request

It should be possible to select a custom listening port for the BGP-server

[2018-07-22 23:51] nhoughto opened #494 "EC2 lookup fails Network Route component startup in explicit proxy environment"
Using `kube-router-0.2.0-beta.9` on Kubernetes 1.9.9 in an AWS environment that requires an explicit proxy `kube-router` fails to start the `network route controller` and fails to properly report the fact it hasn't started, and doesn't appear to fail health checks?

It appears as part of the network route startup an EC2 check is done, in an environment where EC2 API access is only allowed through

[2018-07-22 23:55] nhoughto commented on #494
Hmm actually i just didn't wait long enough, it did eventually come up, the shortest time i saw was ~6mins, longest was 10+mins. So much less bad than I originally thought. Still an optional EC2 call shouldn't block startup for 6mins, workaround is to set proxy envs obv 👍

[code]

[2018-07-23 00:09] nhoughto commented on #494
I think this is a problem in `0.1.0` as well.

[2018-07-23 15:49] pmichali commented on #307
I have not been able to figure out how to pass the right arguments for the local listen addresses to the go routine that starts goBGP, when operating in IPv6 mode.

[2018-07-23 17:47] murali-reddy commented on #307
@pmichali ok let me give it a try.

GoBGP folks also has a slack, https://slackin-gobgp.mybluemix.net they are pretty responsive.

[2018-07-27 02:42] polym opened #496 "kube-bridge's IP didn't change after kubectl delete node and then restart kubelet"
Kube-router was running in DaemonSet pod on the node.

After `kubectl delete node NODE_NAME`, all pods on the node was deleted by kubelet, and all data related with this node was deleted by api-server (or other component). At this moment,

[code]

Then, restarted kubelet to join kubernetes cluster again, and kube-router pod started up. I found CIDR in 10-kuberouter.conf was changed, but kube-bridg

[2018-07-27 05:33] #481 closed

[2018-07-27 10:16] jimmy-zh commented on #489
@murali-reddy @roffe @andrewsykim thanks for your reply

kube-router version: 57f4eea2f45cd574da785c5ad2ab1806f43063de
`-iptables-sync-period`=1s

Explanation:
1. The `WaitForCacheSync` method may last for a few seconds like 2s to 20s when the k8s cluster has many resource objects. This situation should be foreseen.

2. In order to make the synchronization process more real-time, `-iptables-sync-p

[2018-07-29 16:06] rmb938 commented on #282
@murali-reddy Any updates on this issue?

[2018-07-30 00:30] murali-reddy commented on #282
@rmb938 sorry did not get chance to work on this issue. This is important enough issue, somehow slipped the attention all the while.  I will prioritise this issue for one of the upcoming releases.

[2018-07-30 00:39] rmb938 commented on #282
No problem :)

I actually found this independently while I was testing some things today, was going to make a issue and realized there was this one.

[2018-07-31 03:05] jimmy-zh commented on #489
@murali-reddy @roffe
A new PR #498. Please check it.

[2018-07-31 03:43] debianmaster opened #499 "openshift specific installation docs"
is there a doc .implemented/planned for openshift specific clusters?
How to configure kube-router for openshift

[2018-07-31 03:54] murali-reddy commented on #489
thanks @jimmy-zh we will check out.

[2018-07-31 12:03] murali-reddy commented on #496
@polym thanks for reporting this issue. Kube-router underneath uses `bridge` CNI plug-in, i guess bridge CNI must be failing as it has conflicting situation here.

I will try to add at least a check and throw error if bridge interface has IP different from what is expected.

[2018-08-01 15:30] vladimirtiukhtin opened #500 "Remove hardcoded pre-run checks"
Hello

Currently in kube-router.go
[code]

I prefer to grant kube-router more capabilities than running it under root unconditionally. Thanks

[2018-08-02 05:29] murali-reddy commented on #500
Sure, make sense. This check expects kube-router to be too permissive.

[2018-08-02 05:32] murali-reddy commented on #499
@debianmaster there is no specific documentation for openshift clusters. Have not heard any one trying kube-router on OpenShift yet.

[2018-08-02 12:34] debianmaster commented on #376
@phemmer   can you please share your openshift setup instruction for kube-router . i'd like to try

[2018-08-02 14:29] Queuecumber opened #501 "Service ClusterIP Accessible Outside Cluster"
I am currently working with kubernetes on a single node cluster for evaluation. My LAN uses the Class A network, (10.0.0.0/8) and since the cluster should support a large number of pods/services, it also uses the Class A network. I noticed today that I can access services by their cluster IP from any machine in my LAN (pods, however, can only be accessed from inside the cluster).

Is this expected

[2018-08-05 12:07] murali-reddy opened #503 "push docker images for other architectures with github release"
We can build kube-router docker images for other architectures manually. So push the docker images other architectures as well with github release.

[2018-08-06 02:16] debianmaster commented on #426
@phemmer  do you mind sharing a README of how you configured kube-router to openshift?

[2018-08-06 20:34] moomzni opened #505 "Firewall Observability"
We've recently been experimenting with Kuberouter using the Azure Kubernetes Service and are finding if difficult to surface atypical iptables logging information including blocked requests; this makes it incredibly difficult to determine system traffic flows which need to be permitted or just debugging in general.

Perhaps I've missed the information in the readme/elsewhere, but it isn't clear to

[2018-08-07 04:07] murali-reddy commented on #501
No this is not expected. Cluster IP's are assigned to a dummy interface on each of the cluster nodes, but they don't respond to ARP requests. They can only be accessed from with in the node. Can you verify when you access cluster IP who is responding?

You are free to choose any CIDR for cluster IP range.

No, it does not have to from service CIDR range. What do yo mean by it wont get assigned.

Y

[2018-08-07 08:30] Daryltp opened #506 "use xtables.lock"
When deploying networkpolicies to two namespaces in the same cluster on Azure Kubernetes Service simultaneously we have observed the following error. It appears to be due to resource contention on the iptables command. The issue is that both deployments will complete "successfully" but the traffic flows the policy allows will fail and the error is only apparent when you view the logs of the kube-r

[2018-08-07 10:48] murali-reddy commented on #506
@Daryltp thanks for reporting the issue. kube-router need to hold xtables.lock before trying to run iptables commands

kube-router manifests need to mount xtables.lock, go-iptables library that kube-router uses can lock to prevent concurrency issues.

[2018-08-07 13:15] Queuecumber commented on #501
I'm fairly certain that the single-node cluster is who is responding, but I can double check it next week when I have the cluster in front of me again. I can see a veth device that has the service cluster IPs assigned to it, when my externalIP is from the service CIDR range, I can see it gets assigned to this interface just as the clusterIPs are. When my externalIP is from another range, I don't s

[2018-08-07 13:18] tiukhtinvladimir opened #507 "Can not peer with external BGP router"
[code]

[2018-08-08 17:30] murali-reddy commented on #507
@tiukhtinvladimir you need to use private ASN

```Failed to create network routing controller: Error processing Global Peer Router configs: Invalid ASN number "44252" for global BGP peer```

Or you wanted to actually use public ASN?

[2018-08-08 18:02] tiukhtinvladimir commented on #507
My issue is that I can not place my Cisco routers in two AS - it is a Cisco restriction. So as far as they are in a real public AS already serving BGP I am trying to peer kube-routers with them as with public routers over eBGP.

[2018-08-09 10:31] tanapoln opened #509 "Route table gone forever after network interface link down and up"
I just found a weird behavior of kube-router that cause an outage in my cluster.

There was an event (not confirmed by AWS) that cause an host interface link down and then up.
After that event, all nodes inside cluster (including master node) lost a route table and it cause all pods communication to be failed.

You can easily reproduce this by provision a cluster, deploy some application and then

[2018-08-09 20:35] runningman84 opened #510 "kube-router vs kubernetes 1.11 ipvs"
I am wondering what is the difference between kube-router and the new native ipvs proxy support in 1.11?

https://kubernetes.io/blog/2018/07/09/ipvs-based-in-cluster-load-balancing-deep-dive/

[2018-08-10 00:51] thardie opened #511 "Martian packets in DSR mode"
I have a test cluster setup. 1 master and 3 workers. Kube-router is running on all 4 nodes. I'm running 1 external IP for nginx (3 instances) with BGP amongst all kube-routers and BGP up to an upstream router. So, packet flow inbound is:

router->1 of the 4 nodes IPVS->IPIP tunnel to 1 of the 3 nginx instances->nginx

Inbound always works fine.

Outbound:
nginx instance->host->router

Sometimes, a

[2018-08-10 00:52] thardie commented on #510
For a start, doesn't look like native supports BGP...

[2018-08-10 01:34] thardie opened #512 "Pod gets added to service in DSR mode before external IP added to tunnel inside pod"
After a pod is brought online, it gets added to the IPVS tables on all kube-router hosts when the tunnel interface inside the pod is not yet configured properly (Note kube-tunnel-if has no IP on it). This means traffic sent to it is dropped inside the container:

[code]
After interface gets configured correctly, around 30 seconds later:
[code]

[2018-08-10 02:38] murali-reddy commented on #511
@thardie thanks for reporting the issue.

Dealing with martian packets has been the single most challenge in DSR functionality in kube-router. There are policy-based routing rules to avoid martian packets.

If you still happen to have the setup or able to reproduce this scenario would mind sharing below details.

`ip rule list`
`ip route list table 78`
`ip route list table 78`

In your case to avo

[2018-08-10 02:41] thardie commented on #511
I added the following 2 lines to each worker and master's /etc/sysctl.conf:
[code]
and rebooted them all. Have been unable to reproduce the martians since then. I'm reverting that change and see if I can reproduce the martian issue now.

[2018-08-10 11:12] #489 closed

[2018-08-10 11:13] roffe commented on #489
Thank you @jimmy-zh !

[2018-08-10 16:14] thardie commented on #511
@murali-reddy I just re-read your comment - The address 10.104.5.122 is the outside client IP (Where the SYN came from, and where the SYN-ACK is going back to). My k8s address are all in 10.116.0.0/16, so I shouldn't expect to see client (outside) addresses in table 78, would I?

I'll continue to try and reproduce and get the ip rules and table output once reproduced again.

[2018-08-10 17:06] murali-reddy commented on #511
@thardie sorry it should be `10.116.4.1` in routing tables 77 and 78

[2018-08-10 19:16] jjo opened #513 "local rt addition not undone when VIP is removed from node"
As a consequence of #433, when a VIP is removed from the node,
this previously added VIP to the `local` rt sticks there, voiding
that node and its hosted Pods from reaching the VIP elsewhere.

This is pretty noticeable if using `externalTrafficPolicy: Local`, as
a service's Pod moving off a node will void other (local) service
consumers from contacting it, this is indeed my use case (together
with

[2018-08-11 09:15] roffe commented on #510
Also kube-router replaces kube-proxy so instead of having kube-proxy + overlay networking you just have kube-router running

[2018-08-12 04:25] Blue-Skies-firststar opened #515 "k8s is runing on openstack virtual machine"
when  k8s is runing on openstack  virtual machine  but pod network is not work
who can help me?

[2018-08-12 13:26] roffe commented on #515
Hi @Blue-Skies-firststar

There is a Kubernetes slack channel where people come together to discuss problems and solutions
https://kubernetes.slack.com/messages/C09NXKJKA

Kube-router also has one
https://kubernetes.slack.com/messages/C8DCQGTSB

And the Special Interest Group for Openstack
https://kubernetes.slack.com/messages/C0LSA3T7C

[2018-08-12 13:49] roffe commented on #512
@thardie what verison of kube-router?

it sounds like you are hitting a old bug that was adressed in https://github.com/cloudnativelabs/kube-router/pull/472

[2018-08-13 03:31] thardie commented on #512
I'd love to give a PR. Just need to get my build environment working first to verify any fix I code :)

[2018-08-13 04:13] murali-reddy commented on #515
@Blue-Skies-firststar There are anti-spoofing checks that need to be disabled.  Otherwise there is nothing that is specific to OpenStack that interferes with Kube-router. Please first ensure this pre-requisite and see if this helps.

https://github.com/kubernetes-incubator/kubespray/blob/master/docs/openstack.md

[2018-08-13 04:32] murali-reddy commented on #509
@tanapoln kube-router does periodic sync which syncs/set up the node to be in desired state (right configuration of ipvs, routing, iptables, ipset etc).  Additionally to handle this kind of scenarios, kube-router also fails liveliness checks to I guess kube-router pods should have been restarted. Did you notice things were still broken after long duration of outage?

This is fatal condition, I won

[2018-08-13 04:36] murali-reddy commented on #507
So right now ASN number is restricted to a value between 64512-65535 and 4200000000-4294967294 so not surprising that you are running in to this issue. Perhaps `error` could be translated to `warning`. I can make the change, PR is welcomed though.

[code]

[2018-08-13 06:33] lazywhite opened #516 "customize the device of pod networking routing rule"
Follow this [kube-router  Network Routes Controller demo](https://asciinema.org/a/120885), we'll get this routing table of kube-node3
[code]

It seems like  kube-router generate route rules base on "default route",
In my environment ,  every node has another  eth0 (10Gb NIC) which has no gateway.
Is it possible that pod network routing rule can use eth0 ?  so the routing table will look like this

[2018-08-13 12:33] tanapoln commented on #509
@murali-reddy Route table is still broken after an hour, a manual restart pod is required.

[2018-08-13 12:51] #513 closed

[2018-08-13 13:48] roffe commented on #509
what happened is that kernel flushes ephermal stuff on interface down, when it came up it's blanked.
Kube-router does sync every 5 minutes by default. lowering the sync period for the controllers to 1 minute would fix the problem with the underlying network interface going away faster.

@murali-reddy i think there is some new functions in the netlink library that allows us to watch interfaces. we

[2018-08-13 14:42] #480 closed

[2018-08-13 17:00] murali-reddy commented on #480
thanks to @Thoro actually, i just hijacked his old PR #295

[2018-08-13 17:10] murali-reddy commented on #509
Ok, let's  see how much of pain it is :) to add that support (given the netlink issues we have seen)

[2018-08-14 02:32] acloudiator opened #517 "iperf3 test failing for pod to clusterIP (same node)"
Hi Folks,

I'm facing some issue while performing iperf3 test for pod to ClusterIP (same worker), while it succeed for `pod to ClusterIP` (different node).

It's a simple iperf3 throughput test, from `pod (iperf3-node1-clusterip)` to `ClusterIP (10.99.18.124:15201)` executed for 30 seconds with single connection stream. It gives connection timeout.
[code]
While the same test when executed for diff

[2018-08-14 07:15] Blue-Skies-firststar commented on #515
Thank you. The network  is available

[2018-08-14 07:51] #515 closed

[2018-08-15 06:41] murali-reddy commented on #516
kube-router uses `node ip` IP that is used as node IP (one that kublet uses to connect to API server) for gateway to reach out pod's running on that node.

I see you are using `192.168.1.100`, `192.168.1.101` as node IP's which are reachable over ens33.

If you  use `172.16.1.100`, `172.16.1.101` as node IP's then you can achieve what you want.

Basically in case of multiple interfaces, there is n

[2018-08-15 21:42] #501 closed

[2018-08-15 23:02] acloudiator commented on #517
Thanks Murali! Will try the above.

[2018-08-16 07:04] #516 closed

[2018-08-16 14:41] killcity commented on #147
+1 Has this been implemented?

[2018-08-17 18:03] zoharm opened #519 "semi random / unnecessary service VIP routes"
On an L3 setup (a minimal "spine-leaf") with 2 masters and 2 worker nodes. Each master is annotated to peer with the other master and both workers via corresponding direct links for each. Each worker peers with both "upstream" masters via same upstream direct link.

When creating a deployment + service, workload pods are correctly distributed across the worker nodes, and the service VIP is correct

[2018-08-25 14:08] tanapoln opened #521 "TCP Connection reset after connection was idle for more that 15 minutes"
My applications communicates via gRPC and the connections was not active all time. When a specific connection was idle for more than 15 minutes, it would get RST packet after try to write to that connection.

A tcpdump on client-side (a sender) shows that RST packet comes from remote IP but tcpdump on server-side (a receiver) show nothing about RST packet. I also notice that TTL of RST packet is n

[2018-08-27 16:33] tanapoln commented on #521
Investigated and found a problem.

The default value of IPVS Connection timeout is 900 seconds, after increase a timeout that (via `ipvsadm --set`) a problem is gone.

I think this config value must be implemented inside kube-route due to a manual config is not persist across reboot.

[2018-08-29 17:20] cjbottaro opened #523 "Why initContainers in the daemonset manifest?"
I'm following the instructions for being able to use hostPort, and I'm wondering why the initContainer that copies the configmap entry into some dir.

Why not just directly mount the configmap entry to the location that kube-router expects? It would make the manifest a lot more simple.

[2018-08-29 21:29] zoharm commented on #519
updated the description: this issue happens on both masters and workers, it is just random chance which node does not get a VIP route injected and which one does...

Also, sometimes when deleting these services, these VIP routes don't clean up.

I have a feeling this is due to the way we are peering nodes, which maybe in kube-router under the hood logic is looked at as "external peering" even thou

[2018-08-29 21:35] zoharm commented on #519
Looks like nodes that are "missing" the "unnecessary" VIP route are the ones that that VIP route points to on all other nodes, but it only does so when they are L2 adjacent. That one "primary" node gets chosen seemingly randomly. This should fully the weird behavior we are seeing.

The issue that needs to be fixed is treating our `kube-router.io/peer.ips=` as though they are internal to the cluste

[2018-08-30 18:00] wzrdtales commented on #410
Adding to this it would be also good to mark any peer-router as fallback by a lower weigth. I.e. when the first route uses the private network and the second wents over the internet instead, you would not want it to route there unless the other routes are dead or saturated.

[2018-08-30 18:16] cjbottaro opened #525 "Possible for ALB to address pods directly?"
Sorry, networking is not my strong point, but going to try to describe this as best I can...

I recently switched from amazon-vpc-cni to kube-router and it doesn't work with the alb-ingress-controller in "ip" mode. I think what it boils down to is that in "ip" mode, the ALB needs to be able to address the pods directly by their Koob ip address.

Is it possible to do this with kube-router?

Thanks

[2018-08-31 08:57] murali-reddy commented on #523
Init containers create the cni conf file only if it does not exist. If there is a file already (because it was created already by kube-router) it is not overwritten because, kube-router modifies the CNI conf file to includer pod CIDR's allocated to the node by `kube-controller-manager`. Once the kube-router pods are running you can see in the cni conf file for pod CIDR details.

so basically its n

[2018-08-31 14:59] cjbottaro commented on #523
Ahh, I see, thank you for the explanation.

For posterity, kops doesn't setup kube-router to work with hostPort; here are the patches I used:

`kube-router-cfg-patch.yaml`:
[code]

`kube-router-patch.yaml`:
[code]

Then simply...
[code]

[2018-08-31 14:59] #523 closed

[2018-09-03 03:44] murali-reddy commented on #525
@cjbottaro I don't think its possible to use direct POD ip's.  `amazon-vpc-cni` might put pod's in the VPC subnet so it may be possible.

You should be able to use ALB ingress with NodePort's?

[2018-09-03 07:35] roffe commented on #525
NodePorts work fine with ALB and the build in support from Kubernetes when using Kube-router

[2018-09-03 21:05] cjbottaro commented on #525
Yes, alb-ingress-controller works fine with NodePort and kube-router, but my issue is that we have hundreds of nodes, but only a few of them (properly labeled) will have the pods that are running the NodePort service. It just seem massively inefficient.

I've opened up an issue with alb-ingress-controller to only target nodes with a specific label, specified by an annotation, but no one has answer

[2018-09-03 21:05] #525 closed

[2018-09-04 09:19] uablrek opened #530 "Kube-router does not build with go1.11"
Build with `make` fails;

[code]

But `go install` works;
[code]

Kube-router version;
[code]

[2018-09-04 17:41] steven-sheehy commented on #434
@murali-reddy I've solved this manually with a script I wrote. It routes all outgoing pod traffic that is not to another pod or service to the VIP and SNATs it to appear as the VIP. It uses a custom routing table, custom routing rule and a custom iptables chain. The iptables chain marks the appropriate packets to be forwarded via the routing table. Any packets that hit the FORWARD chain on the mai

[2018-09-05 13:10] nbin commented on #451
Any updates on that?

[2018-09-05 14:28] danbeaulieu commented on #496
I just ran in to this as well. I removed a node from the cluster by kubeadm reset and kubectl delete node. Confirmed everything was cleaned up including /etc/cni/net.d. Then reran my kubeadm join to rejoin the cluster and pods are stuck with the same error as @polym.

Is there a workaround?

[2018-09-05 14:56] ut0mt8 commented on #451
I'm assuming this was fixed ? not the case ?

[2018-09-05 17:04] moomzni opened #531 "SIGSEGV - Invalid memory address or nil pointer dereference"
We've recently experienced this error which left our Kuberouter daemonset running with no available pods - we had to remove the DS and re-create to resolve the issue as kubelet didn't attempt to recover the service (which was strange).

We're not doing any fancy with Kube-router other than network policies.

Stacktrace below:
[code]

Environment details:
We're running on AKS v1.10.5
[code]

[2018-09-05 17:12] moomzni commented on #531
It appears this is the NetworkPolicy that was breaking things; this policy (obfuscated) basically allows all pods within a namespace to hit another pod on all ports (or it should).

[code]

[2018-09-06 10:16] murali-reddy commented on #451
Unfortunately this issue missed attention. Its not fixed (basically need to use latest GoBGP) yet from kube-router side.

[2018-09-06 10:53] roffe commented on #496
Hi @danbeaulieu delete the bridge interface on the node as a part of your cleaning up so it's gone before kube-router starts

[2018-09-06 15:00] murali-reddy commented on #531
@moomzni thanks for reporting this issue. Is `nil pointer reference` occurring every time `kube-router` starts? Or is it just occurred one time?

[2018-09-07 10:20] murali-reddy commented on #531
Ok thanks for repro steps. I will see if it reproduces to me.

[2018-09-10 17:49] murali-reddy commented on #434
thanks for sharing this @steven-sheehy

Which VIP? Is it `specified static IP` like you mentioned in earlier comment?  If single VIP on all nodes work?

[2018-09-10 17:58] steven-sheehy commented on #434
@murali-reddy Yes, it is a single layer-2 VIP created by kube-keepalived-vip and used as an ExternalIP on each service. So single VIP for all nodes, but only one machine at a time has the VIP on its main interface doing the SNAT. The fact that it's a VIP though is not required, it's just a requirement for us that we use the same IP for both ingress and egress.

[2018-09-11 02:43] #451 closed

[2018-09-11 10:55] uablrek opened #534 "Support ipv4/ipv6 dual stack for external traffic with ipv6 prefix"
## Support ipv4/ipv6 dual stack for external traffic

There is currently a Kubernetes Enhancement Proposal ([KEP](https://github.com/leblancd/community/blob/dual-stack-kep/keps/sig-network/0013-20180612-ipv4-ipv6-dual-stack.md)) for dual stack in Kubernetes. The intention is to make Kubernetes dual stack aware while still keeping compatibility. This is of course very hard considering internal stru

[2018-09-11 13:52] uablrek commented on #534
### About future compatibility

The dual stack in k8s will preserve backward compatibility with the current ipv4-only configuration. Since this proposal does not assume anything else it can (in theory) live along side the "real" k8s dual stack forever.

It is of course desirable that `kube-router` supports the k8s dual stack and I see no contradicion.The k8s dual stack may get ipv6 addresses for p

[2018-09-11 15:35] uablrek commented on #534
I have a fast-test `host-local` that supports ipv6 prefix in https://github.com/Nordix/plugins branch "ipv6-prefix-test"

[2018-09-11 16:51] uablrek commented on #262
Please make this "feature" optional. If you always have *one* service for each external VIP it's fine. Problem is for applications that exposes multiple services with different port but with the same external VIP, e.g. http and sip (just a made-up example).

ECMP is on L3 level, it routes ip addresses not ports. So now it is not only "at least one endpoint" but;

"At least one endpoint for every s

[2018-09-12 12:38] andrewsykim commented on #262
@uablrek maybe I'm missing some context here so apologies in advance. I'm not sure we need to be accommodating for the odd exception of people using the same VIP for multiple services. If that is your case then I recommend using an ingress controller which was built for that exact purpose.

This is surprisingly non-trivial IMO. You can't always assume applications are network/routing aware, at lea

[2018-09-13 19:36] buddyledungarees opened #536 "Reduce api calls for disableSourceDestinationCheck"
I have a 100 node cluster and we're seeing the same problem as #313. We're running v0.2.0 of kube-router (latest release as of this issue).

I'm wondering if we can reduce the number of calls by having the nodes only try to disable the setting for themselves and only on startup? We run kube-router as a daemonset anyway and the volume of calls over a 30 minute window was averaging 2.5 per sec acros

[2018-09-14 09:13] brunovlucena opened #537 "Pods Ips diferent from PodCIDR"
Hi all,

Does anyone have an idea why my pods are scheduled in wrong subnets? The kube-router seems to be working correctly but, the problem is that the kube-controller-manager assigns the pod-ips independent of the kube-router. However, i did not find where the controller is misconfigured.

Extracted from Kubelet logs:

k8s4:
Sep 14 12:43:19 k8s4 kubelet[2887]: I0914 12:43:19.200164    2887 kubel

[2018-09-14 11:41] murali-reddy commented on #537
@brunovlucena how did you provision the cluster? Did you any provisioners like kubeadm?

Likely kubelet is not using CNI (in the case of kube-router kubelet should be using `bridge`, and `host-local` plugins)

Typically you need to pass the `--network-plugin=cni` for kubelet with additional information of `--cni-bin-dir=/opt/cni/bin` and `--cni-conf-dir=/etc/cni/net.d`

Please try  `--network-plug

[2018-09-14 12:03] brunovlucena commented on #537
I did not use kubeadm. I am configuring it from scratch. That said:

- the kube-router is modifying the file 10-kuberouter.conf correctly
![screenshot from 2018-09-14 13-59-53](https://user-images.githubusercontent.com/20466126/45549011-88e86600-b826-11e8-987d-54c20ac28fb7.png)

the cni plugins are there:
![screenshot from 2018-09-14 14-01-43](https://user-images.githubusercontent.com/20466126/455

[2018-09-14 12:17] brunovlucena commented on #537
1) cluster is created from scratch (etcd's data deleted).
![screenshot from 2018-09-14 14-14-19](https://user-images.githubusercontent.com/20466126/45549612-adddd880-b828-11e8-887d-3fe4e98b23be.png)

2) after seconds the kube-bridge is set (according to the IP)
![screenshot from 2018-09-14 14-15-07](https://user-images.githubusercontent.com/20466126/45549682-e54c8500-b828-11e8-9509-866d1677342e.pn

[2018-09-14 12:29] brunovlucena commented on #537
continuing...

![screenshot from 2018-09-14 14-28-13](https://user-images.githubusercontent.com/20466126/45550211-838d1a80-b82a-11e8-9280-faa5c25cfbd2.png)
![screenshot from 2018-09-14 14-28-36](https://user-images.githubusercontent.com/20466126/45550221-8982fb80-b82a-11e8-9f72-1dc5d9df3cf2.png)

[2018-09-14 12:52] brunovlucena commented on #537
Update: So, I was using the following cni plugin version:
https://github.com/containernetworking/plugins/releases/download/v0.7.1/cni-plugins-amd64-v0.7.1.tgz
which I downgraded to 0.6.0 and still does not work.

![screenshot from 2018-09-14 14-52-41](https://user-images.githubusercontent.com/20466126/45551340-dc11e700-b82d-11e8-907c-6def1042882c.png)

[2018-09-14 13:02] murali-reddy commented on #537
Sorry, which pod's you are suspecting to have wrong IP addresses? I see all busy boxes got proper IP address from expected CIDR's?

[2018-09-14 13:09] brunovlucena commented on #537
sorry, it seems to me quite clear.

in this example:

busybox-7fd544df89-k66tv   1/1       Running   0         5s        10.200.0.2   k8s4

{"bridge":"kube-bridge","ipam":{"subnet":"10.200.2.0/24","type":"host-local"},"isDefaultGateway":true,"name":"kubernetes","type":"bridge"}

default   busybox-7fd544df89-cddz6   1/1       Running   0         5s        10.200.1.2   k8s1
{"bridge":"kube-bridge","

[2018-09-14 13:49] brunovlucena commented on #537
update: if i don't pass the parameter it does not read the path. Is it a bug from k8s 1.11 ?

--cni-conf-dir string
  | The full path of the directory in which to search for CNI config files. Default: /etc/cni/net.d

[2018-09-14 14:05] brunovlucena commented on #537
I was too fast... it is not the problem. I deleted the cluster and created again so the problem still persists... it was just a coincidence that matched. the assigments seem to be at random

[2018-09-14 14:41] brunovlucena commented on #537
If i setup manualy networking as i supose it should be i receive an error from k8s

![screenshot from 2018-09-14 16-39-33](https://user-images.githubusercontent.com/20466126/45557044-061ed580-b83d-11e8-9ea2-f07b85a8c447.png)

![screenshot from 2018-09-14 16-40-31](https://user-images.githubusercontent.com/20466126/45557052-0a4af300-b83d-11e8-8058-e0ace0acfff3.png)

[2018-09-14 15:45] murali-reddy commented on #537
Looks like you have nodes with configurations left over from previous deployments?

If you do deployment from scratch again, please ensure there is no `kube-bridge` interface, and CNI conf file.

May be you can try to delete the `kube-bridge` interface now and restart (kill the pod) kube-router pods?

[2018-09-14 15:54] murali-reddy commented on #536
Like you pointed we tried to optimise in #313 but looks like problem still persists.

So currently if a node (EC2 instance) does not have IAM to disable source-destination checks it does not try further. In your deployment does each node has IAM to disable src-dst check?

 I am not sure that works for all deployments. For e.g. if i remember correctly in a kops provisioned cluster only master nodes

[2018-09-15 01:16] buddyledungarees commented on #536
Yes, I did attach an additional policy onto the nodes:

[code]

And I did confirm the master role has permissions to modify. I will try revoking the modify setting to see if it helps with the api calls.

[2018-09-16 11:54] t3hmrman commented on #383
Just ran into this as well, in my case I use `containerd` but the following commands got the issue fixed:

[code]

This got my pods up and runing again, and they all have IPs.

[2018-09-18 00:18] buddyledungarees commented on #536
It looks like the nodes already settled down to a steady state so we do not see any more api throttling exceptions. Thanks for the quick update.

[2018-09-18 00:18] #536 closed

[2018-09-18 14:41] jjo commented on #147
@killcity https://github.com/kubernetes-incubator/kubespray/pull/3339 PR implements it
in case you want to give it a try, FYI working ok on an openstack deploy.

[2018-09-19 15:18] sohel2020 commented on #326
@murali-reddy  any timeline for 0.3 release? we're really waiting for this feature.
Thanks.

[2018-09-20 19:50] buddyledungarees commented on #168
In case others come across this, kops needs to be version 1.10+ to install the portmap plugin per https://github.com/kubernetes/kops/commit/289c18e17f42b475d1d29c01d9c5fe119d474c57.

[2018-09-21 00:32] jforman opened #539 "kube-router won't start: Failed to create network routing controller: Failed to create ipset set on system: ipset v6.34: Kernel error received: set type not supported"
I am trying to the "run-router" functionality of kube-router to propoagate routing tables to my various k8s nodes, but receiving the following error in the logs:
[code]

I'm not sure what might be wrong with my version of Ubuntu, or perhaps the container image provided by kube-router, to cause this error. Any help greatly apprecaited.

My nodes themselves are Ubuntu Minimal Builds:
[code]

I am us

[2018-09-21 12:17] ep4eg opened #540 "Pod-to-pod cross node connectivity flapping"
I'm trying kube-router, but instantly got stuck with pod-to-pod cross node connectivity that apparently works, but not as I expect.

I have a very basic installation of k8s which is kubeadm+kube-router, 2 nodes (A and B) each node has pod-subnet, let's say 10.10.0.0/24 and 10.11.0.0/24, In the beginning, everything is fine, but time to time when I up some pods, I'm losing a connectivity from the n

[2018-09-24 03:52] murali-reddy commented on #540
Usually, once `kube-bridge` is setup there is nothing changing its configuration dynamically. When you loose connectivity from node A to node B what do you observe? does the packets from node A reach to node B and sent over `kube-bridge` interface?

Are the routes on node A and node B populated correctly to route the inter node pod traffic?

[2018-09-24 06:07] ashik-m-shuvo commented on #326
@murali-reddy do you know is anyone working on to build this feature?

[2018-09-24 07:46] ep4eg commented on #540
Yes, they do, seems like after the packets achieve kube-bridge on the node B they cant be forwarded further to veth interface.

Everything ok with routes, as I said **pod-to-pod** connectivity works well, I'm struggling with **node-to-pod** connectivity. Put simply, when I ping a container inside a container everything is ok when I ping a container from a node, it's flapping.

[2018-09-24 07:48] jimmy-zh commented on #326
@ashik-m-shuvo I'm working on a PR based on #529  to support this feature.

[2018-09-24 07:52] murali-reddy commented on #540
Are both nodes on same subnet (L2)?. Kube-router uses ipip tunnles for connectivity across the nodes in different subnets.

Also please see if disabling rp_filter has any difference. Also enable logging martian packets and see if there any martian packets.

[2018-09-24 11:32] ep4eg commented on #540
So, I just disabled rp_filter and it works so far, that may be a security issue tho. Anyway, thank you!

[2018-09-24 12:21] murali-reddy commented on #540
Usually it means routing is not correct. Do you have nodes with multiple interfaces? While disabling rp_filter fixes the problem, its good to keep it enabled and get to the root cause.

[2018-09-24 14:19] ep4eg commented on #540
In my case cause was macvlan interface on a node, I just reworked configuration, so everything is ok now. Closing the issue.

[2018-09-24 14:19] #540 closed

[2018-09-26 12:58] zhxjdwh opened #542 "Can kube router use in production ？"
can kube router  use in production

[2018-09-26 13:59] roffe commented on #542
@zhxjdwh Hi, We use kube-router 0.2.0 in production at my company https://shopgun.com

[2018-09-27 18:29] killcity commented on #147
Awesome! Thanks! Would love to see this merged (assuming its relatively bug-free). I will update once I've tested.

[2018-09-28 01:16] neeseius opened #544 "Apache Bench can fill up ipvs service proxy in seconds"
I am not sure if I have something configured wrong but here is my Centos7 physical node and kube-router agent setup:

[ipvsadm package]
$ rpm -q ipvsadm
ipvsadm-1.27-7.el7.x86_64

[kube router process and options]
$ ps -ocommand= -C kube-router
/usr/local/bin/kube-router --run-router=true --run-firewall=true --run-service-proxy=true --kubeconfig=/etc/kubernetes/kube-router.kubeconfig --hostname-ov

[2018-09-28 14:11] uablrek commented on #544
Check with `netstat -putan` if you have zillions of sockets in `TIME_WAIT` wheń it stalls.

[2018-09-28 17:43] neeseius commented on #544
I actually don't see any TIME_WAITS on the physical host, I do see a ton in the containers. I made 6 replicas this time, all still on the same host node6. Below is another picture of where the numbers are at when the requests stop being answered again.

It seems the limit is still 14000, just divided among the containers now.
[ipvsadm]
$ ipvsadm -ln | grep -A6 30530
TCP  10.200.1.146:30530 rr
  ->

[2018-09-29 08:15] #542 closed

[2018-09-29 13:52] ptone opened #546 "FR: support/document minimalist containerd support (-kubernetes)"
I was looking to see if I could use containerd to run only a pod on a minimal system and this requires CNI

When I tried to used kube-router for this, I was unable to figure out how to convince kube-router to provide CNI interface without assumptions that a full kubernetes control plane was in the mix

Ideally kube-router could act as a CNI containerd plugin:

https://github.com/containerd/go-cni

[2018-10-01 15:15] farcaller opened #547 "kube-router should tolerate node.kubernetes.io/not-ready"
When spinning up a kubeadm cluster the master is tainted with node.kubernetes.io/not-ready:

`KubeletNotReady              runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:Network plugin returns error: cni config load failed: no network config found in /etc/cni/net.d: cni plugin not initialized: failed to load cni config`

because kube-router cni isn't available y

[2018-10-01 15:28] farcaller opened #548 "kube-router doesn't work with containerd out of the box"
containerd is oblivious to the injected cni config so it needs to be restarted after kuberouter creates the config. filing here because calico seems to work fine for whatever reason.

[2018-10-02 07:50] trevex commented on #383
Encountered the same issue as well with `kube-router` on k8s 1.11.2. We use a pxebooted CoreOS and /var/run/docker is therefore not persisted between reboots. Therefore I expect to run into this issue frequently. Is there a potential fix in the works or is https://github.com/jsenon/api-cni-cleanup basically the only long term solution?

[2018-10-02 08:30] serbrech commented on #506
I took a quick look at this.
the iptables are being updated through the go-iptables package in the different controllers :
- [network_routes_controller](https://github.com/cloudnativelabs/kube-router/blob/05907d8defd30a0c2c0be388987993a4c2291c14/pkg/controllers/routing/network_routes_controller.go#L541)
- [network_services_controller](https://github.com/cloudnativelabs/kube-router/blob/05907d8defd

[2018-10-02 09:01] serbrech commented on #506
hm... do we need to use the lock.go implementation at all?
I see now that the go-iptables library always runs with --wait, so would mounting the file be enough?

[2018-10-02 11:17] roffe commented on #506
I've added the following to my kube-router deployments to allows usage of xtables

[code]

[2018-10-02 11:27] roffe commented on #383
Usually it's some other problem leading up to the leases being filled and no new cam be allocated

[2018-10-02 11:28] roffe commented on #383
One way to trigger it with kube-router is to disable ipv6 on the nodes and use CNI < 0.7. Every allocation of IP will fail and /var/lib/cni/networks would get filled up and no pods can get scheduled

[2018-10-02 11:28] roffe commented on #383
Afaik Kops <1.10 all use a old version of the CNI plugins and i think kubeadm and kubespray does as well

[2018-10-02 13:05] murali-reddy commented on #547
thanks @farcaller for reporting this issue

Should we just do

[code]
with manifests in the folder https://github.com/cloudnativelabs/kube-router/tree/master/daemonset

this is what calico, flannel, weave doing as well.

[2018-10-02 13:06] farcaller commented on #547
That's a rather bold toleration but I think it makes sense for a CNI component which is crucial for the node operation.

[2018-10-03 07:35] murali-reddy commented on #326
fixed in #543

[2018-10-03 07:35] #326 closed

[2018-10-03 21:31] leandromoreira opened #549 "Routing / NAT issue on multiple network interfaces host"
## Context
Given the following scenario:

A kubernetes node called **FE** with two network interfaces:

* (front-end interface) eth0 ip 172.24.34.201 net 172.24.34.192/27
* (back-end interface) eth1 ip 10.224.162.173 net 10.224.162.160/27

A kubernetes node called **BE** with a single network interface:

* (back-end interface) eth0 ip 10.224.139.21 net 10.224.139.0/27

The **BE** is running some s

[2018-10-04 06:47] murali-reddy commented on #549
thanks @leandromoreira for the very detailed report

The way Linux choose the source IP address has been a problem before as well. Please see https://github.com/cloudnativelabs/kube-router/issues/376 which is extreme case where same service VIP is selected as source IP.

So to avoid that in current implementation of kube-router an explicit rule is added to use `node IP` as source when accessing th

[2018-10-04 17:54] leandromoreira commented on #549
Thank you so much @murali-reddy, when I run the command `ip route list table local` I see these info:

[code]

I took off some of them and left the ones related to the ips: `10.255.2.2` and `172.24.34.201`.

Is **node IP** the same as the internal node (`InternalIP`)? I've pasted some information from the FE node, **please let me know if you need anything else.**

[code]

and

[code]

[2018-10-05 08:51] murali-reddy commented on #546
Kube-router by itself does not implement CNI. Its just uses underneath bridge, host-local standard CNI plugins to provide a Kubernetes networking solution.

https://github.com/containernetworking/plugins/tree/master/plugins

[2018-10-05 11:40] murali-reddy commented on #549
Strange.

[code]
Above rule should have ensured that source IP used for accessing `10.255.2.2` is `10.224.162.173`. But it not used, linux kernel choose the source IP.

I will try if I can reproduce and find about routing rule is sufficient or not.

[2018-10-05 13:36] leandromoreira commented on #549
Thanks, please let me know if I can assist you in any way!

[2018-10-05 23:31] zoharm commented on #519
Turns out this is happening because we are using custom peering annotations together with `--advertise-external-ip=true`, where all nodes are "externally" advertising the service VIP to each other.

One way to resolve this is to allow custom peering annotations that are not treated as external, and instead simply override the default internal peering behavior. This is likely only necessary for our

[2018-10-05 23:31] #519 closed

[2018-10-08 17:32] methodx commented on #547
But it seems legit for kube-router DaemonSet.

[2018-10-12 05:55] murali-reddy commented on #434
thanks @steven-sheehy for sharing. Looks neat. Does it works across the subnets? I mean if traffic from pod A running on node A is sent to the node B owning the VIP, if node A and node B in different subnets does this work?

[2018-10-12 14:14] steven-sheehy commented on #434
@murali-reddy If you mean the pod subnet specifically for that node allocated by the CNI, then yes that works correctly. I use the overall cluster pod subnet and only use it to to exclude pod to pod traffic, not for routing. Routing tables are only updated to forward via VIP. So as long as VIP is routeable it works across all nodes.

[2018-10-13 00:11] raffaelespazzoli opened #552 "ability to run kube-router (service-proxy only) outside of the cluster"
I have a server outside of a kubernetes (Openshift to be more precise) cluster that can route IP packets to the cluster SDN.
I am looking for a solution to implement service proxies. Kube-router seems to fit the requirement.
It turns out though that it whants to know in which node it is running.
here is how I am launching it:

```kube-router --run-service-proxy true --run-firewall false --run-rout

[2018-10-13 00:25] acloudiator opened #553 "kube-router on AWS without kops - error pod communication"
Hi Folks,

I've a 3 nodes (1 master + 2 workers) setup on AWS (all under us-west-1). Setup for the kubernetes has been done via `kubeadm` and applied the `kube-router` cni yaml, with `router` and `firewall` as `true` and `service-proxy` set to false.

The setup of kubernetes with kubeadm goes well, kube-router yaml application is success. But the problem is with the pod IP communication, it's only

[2018-10-13 00:31] acloudiator commented on #553
OS: Ubuntu 16.04.4 LTS
Kernel: 4.15.0-041500-generic

pod toolbox o/p:
[code]

Route o/p
[code]

[code]

[code]

lsmod o/p (same on all nodes):
[code]

Logs:
[code]

Please let me know if I can provide more info. Thanks!

[2018-10-13 03:49] murali-reddy commented on #552
Please try running `./kube-router --run-service-proxy=true --run-firewall=false --run-router=false`

[2018-10-13 03:56] murali-reddy commented on #553
@acloudiator looks like it might be problem due to AWS ec2 source-destination check. Usually flag `--disable-source-dest-check` is true by default so kube-router automatically performs the source-destination check disable. Could you please disable manually ec2 source destination checks for ec2 instances and try?

[2018-10-13 15:40] raffaelespazzoli commented on #552
Digging a bit more it looks like the node api is called to get some info (host name and host ip) that could perhaps be obtained otherwise:
the code is here:
https://github.com/cloudnativelabs/kube-router/blob/b76d22f0d8f90e50bc794300550a4cd659264518/pkg/controllers/proxy/network_services_controller.go#L1989

Maybe is running outside of the cluster ip and hostname could be passed from the CLI or co

[2018-10-13 19:13] acloudiator commented on #553
Thanks @murali-reddy ! You made my day! I manually disabled it and it worked well.

[2018-10-13 19:13] #553 closed

[2018-10-14 08:14] murali-reddy commented on #307
stay tuned. thanks to @uablrek IPv6 is taking good shape

https://github.com/cloudnativelabs/kube-router/blob/master/docs/ipv6.md

[2018-10-14 16:05] neeseius commented on #544
Just wanted to point out I am not using DSR, which causes me to wonder why there is an accumulation of TIME_WAIT connections, since in my case shouldn't the LVS be able to see all packets sent both ways?

[2018-10-15 03:44] inju-song opened #554 "Support to set weight and reliable scheduler"
Hi kube-router team.

We use the kube-router for networking in k8s cluster and external load balancing(I think this is the best network solution for k8s, thanks). However, we need to set weight to 0 or non-zero per k8s service and reliable scheduler to serve production k8s cluster using kube-router.

1. kube-router can be provided as several external load balancer but there is no reliable option b

[2018-10-15 04:35] murali-reddy commented on #552
Yes, right now its hard-coded assumption that node on which you are running kube-router is actually Kubernetes node. That's the reason for the above failures. For service proxy may be this restriction can be relaxed. But i am wondering what could be the use-case for this requirement?

What is the type service (`ClusterIP`, `NodePort`, `ExternalIP` etc) you are looking to expose?

[2018-10-15 04:43] murali-reddy commented on #554
@inju-song thanks for the report.

AFAIK, `maglev` is recent addition to Linux kernel? Kube-router would like to integrate a `consistent hashing` solution. This is something we wanted for current implementation of DSR (direct server return) in kube-rotuer as well. I have not fully explored `IP_VS_MH` yet.

Please see https://cloudnativelabs.github.io/post/2017-11-01-kube-high-available-ingress/

B

[2018-10-15 05:09] uablrek commented on #544
TIME_WAIT is in the tcp standard. The state should linger for 2 minutes (depending on how the connection was shutdown) and ipvs also keeps the state to be able to forward stray packets.
But you can make Linux reuse sockets in time_wait with sysctl's. I don't remember which so you have too search.
But it can be other things. Your symptom, fast connects then a almost dead stop, is *some* resource th

[2018-10-15 11:32] inju-song commented on #554
@murali-reddy
Thanks for your reply.

Kube-router uses `libnetwork/ipvs`, but there is no `MaglevHashing` const variable. But we can just use `libnetwork/ipvs` functions to add or update `MH` virtual service without the const variable.

`IP_VS_MH` can be used with two flags, `FALLBACK` and `PORT` such as `IP_VS_SH`(these scheduler has same value for flags: `0x0008`, `0x0010`). Perhaps kube-router

[2018-10-15 11:56] raffaelespazzoli commented on #552
@murali-reddy The use case is that I have created a network tunnel between multiple OpenShift SDNs. This tunnel can only route the Pod's IPs. Now I'd like to add discovery and service proxying/loadbalancing.
More info on what I am doing can be found here:
https://blog.openshift.com/connecting-multiple-openshift-sdns-with-a-network-tunnel/
and the git repo is here (this is the branch where I am try

[2018-10-16 14:32] jjo commented on #147
@murali-reddy I think we can resolve this one now ;)

[2018-10-17 04:39] murali-reddy commented on #147
thanks @jjo Will resolve now.

Please use kubespray version with https://github.com/kubernetes-incubator/kubespray/pull/3339 to use kube-router integration.

[2018-10-17 04:39] #147 closed

[2018-10-17 04:52] murali-reddy commented on #554
there are already flags for some of the schedulers, so its not hard to extend to support IP_VS_MH

[code]

Please see if you can tweak and add support

https://github.com/cloudnativelabs/kube-router/blob/master/pkg/controllers/proxy/network_services_controller.go#L1096-L1107

[2018-10-17 15:47] neeseius commented on #544
I've done some research on what is going on and it turns out there is a legitimate problem with IPVS.
https://github.com/moby/moby/issues/31746
https://github.com/moby/moby/issues/35082

IPVS is not reusing ports like it is supposed to and thus the ephemeral ports are exhausted depending on the ephemeral port range (net.ipv4.ip_local_port_range). Setting net.ipv4.vs.conntrack=0 in sysctl somehow s

[2018-10-18 09:40] voidengineer commented on #166
Is there anything missing for this?
Can this be closed?

[2018-10-18 10:20] voidengineer commented on #155
Since 0.2.1 this bug resurfaces.
I disabled IPv6 by setting `net.ipv6.conf.all.disable_ipv6` to 1.

kube-router fails with: Failed to start node BGP server: Failed to start BGP server due to : listen tcp6 [::1]:179: bind: cannot assign requested address

[2018-10-18 11:21] murali-reddy commented on #166
DSR itself is implemented. You can use direct  server return functionality of kube-router now. But it _only_ works with combination of L3 fabric routers doing L4/flow level load balancing. I.e) traffic for a flow ends up at same kubernetes node.

But there is still a missing piece, which is to have a consistent hashing. Newer kernels has the support for Maglev hashing. Please see https://github.co

[2018-10-18 13:40] uablrek commented on #155
I took a look at the PR for ipv6 peering https://github.com/cloudnativelabs/kube-router/pull/545 and I have altered (corrected)  [here](https://github.com/Nordix/kube-router/blob/8d632a39eb89f14d2d5e0c77ef8766462779157d/pkg/controllers/routing/network_routes_controller.go#L673) from the any-address `[::]` to the local address for ipv6 `[::1]` (which is right I think). But my guess is that the `ipv

[2018-10-18 13:42] uablrek commented on #155
Perhaps ithe ipv6IsEnabled() could actually try to use [::1] ?

[2018-10-18 17:28] uablrek commented on #155
Yes, net.ipv6.conf.all.disable_ipv6=1 removes `::1/128`;
[code]

[2018-10-18 17:58] uablrek commented on #155
Re-created on [xcluster](https://github.com/Nordix/xcluster).

[2018-10-18 19:08] uablrek commented on #155
I made a PR with a fix in `ipv6IsEnabled()`. I have tested that the problem was fixed with this PR in [xcluster](https://github.com/Nordix/xcluster). To re-create without the PR is simple, just do
[code]
before `kube-router` is started.

[2018-10-18 19:11] uablrek commented on #155
This however draws my attention to the ipv6-only case. Guess the reverse problem exists also, e.g. if ipv4IsEnabled() == false, no annotarions are read and probably other things also. Test ipv6-only with ipv4 disabled must be done.

[2018-10-19 15:06] xnaveira commented on #544
We have been investigating the problem and have come to the following conclusions:

 - After a connection to a service is finished by the server it ends up in TIME_WAIT state. This state is kept during 2 minutes and then the connection is removed from the conntrack table. If during those 2 minutes the client tries to reuse the same port, upon SYN reception the connection is removed from the conntr

[2018-10-19 16:43] neeseius commented on #544
Thank you for looking into this.

We aren't utilizing BGP or ECMP yet so a load balancer will add all nodes regardless.
However, it sounds like we can set net.ipv4.vs.conntrack=0 and as long as we don't use NodePort we should be good?

For example disabling conntrack won't affect a POD hitting a service IP to reach another POD on a different node? And will session affinity like clientip still work

[2018-10-20 06:17] xnaveira commented on #544
Our tests showed that disabling reuse with 'net.ipv4.vs.conn_reuse_mode=0' will interfere with scaling. When adding more pods in a high traffic scenario the traffic will stick to the old and overloaded pods and when scaling down, the traffic will be send to non existent pods.

[2018-10-20 09:45] uablrek commented on #544
Please read this excellent comment on a refered issue; https://github.com/moby/moby/issues/35082#issuecomment-383205157

Be aware that the case where a stream of connects from a *single source* may not be the common case in real life. It is more likely that you have few connections but from *very many* sources.

You may try to tune your system to handle a case that only exist in your lab. While do

[2018-10-22 11:52] xnaveira opened #557 "`kube-router.io/service.local=true` breaks services that run on the nodes network stack"
When using `kube-router.io/service.local=true` for a service that points to pods that run on the nodes network stack neither ipvs rules nor kube-dummy-if addresses are added. It seems like kube-router lacks logic to handle pod ips that are not in the nodePodCidr https://github.com/cloudnativelabs/kube-router/blob/v0.2.1/pkg/controllers/proxy/network_services_controller.go#L472

[2018-10-23 08:45] uablrek commented on #530
This is made worse by the fact that Kubernetes > v1.12 **must** be built with go >= v1.11

[2018-10-23 09:12] murali-reddy opened #561 "cluster IP configured on the kube-dummy-if should not respond to ARP requests"
cluster IP configured on the kube-dummy-if should not respond to ARP requests.

`kube-dummy-if` interface is configured to be `NOARP` but that is not sufficient condition

[code]
see the conversation https://kubernetes.slack.com/archives/C8DCQGTSB/p1535088493000100

[2018-10-23 23:29] menardorama commented on #548
Having similar problem with containerd and kube-router on kubernetes 1.11.
My case is that I can’t resolve kubernetes.default.... it’s Quite annoying.

A node reboot generaly solve the issue but that’s basically impossible to do in a prod env

[2018-10-25 07:19] #547 closed

[2018-10-26 05:32] murali-reddy commented on #166
Maglev hashing support https://github.com/cloudnativelabs/kube-router/pull/564

[2018-10-27 03:49] #557 closed

[2018-10-30 10:43] asteven commented on #282
Could you work around all this by having a dedicated netns and dummy iface just for the ipvs stuff? That would solve this problem for good, no?

e.g. something like they mention [here](https://phabricator.wikimedia.org/T114979)

[2018-10-30 16:40] asteven commented on #75
I'm thinking of taking a shot at this.

What do you think about the following proposal?

Obviously use the existing cli flags to set the default behavior cluster wide:

[code]

Then use the following annotations per service to override the defaults:

[code]
Personally I would deprecate kube-router.io/service.skiplbips in favor of kube-router.io/service.advertise.loadbalancer because it's more expl

[2018-10-31 02:31] danboucher78 commented on #531
Experiencing similar issue
[code]
Versions details
[code]

[2018-10-31 03:10] murali-reddy commented on #75
Sounds good to me. Make sense to normalise the naming convention to `kube-router.io/service.advertise.*`

[2018-10-31 03:32] Thoro commented on #282
@murali-reddy yes, the external ip allows access to the host itself

[2018-10-31 06:45] asteven commented on #282
The net effect of this is that all services running on the host that listen on 0.0.0.0 are directly accessible via any advertised service or external IP.

e.g. I can ```ssh $service_ip``` and get a login prompt of the sshd running on the host.
Same with the kubelet ports like 10250 and 10255.

[2018-10-31 06:46] asteven commented on #282
I'm not sure if this would also cause problems if a service port is already bound by some daemon on the host. iow: what if my service port is 22 and the sshd on the host is listening on 0.0.0.0?

[2018-10-31 13:14] asteven commented on #561
We run some keepalived based loadbalancers in DSR mode.
I have to configure my real-servers like this to prevent them for ARP'ing around:

[code]

I assume the kube-dummy-if would need something like this to?
e.g.

[code]

Not sure if this would have side effects though. I do not yet have the full picture how/where/in what context kube-dummy-if is used.

[2018-10-31 13:41] asteven commented on #561
Some context:
http://kb.linuxvirtualserver.org/wiki/Using_arp_announce/arp_ignore_to_disable_ARP

[2018-11-01 20:10] stephan2012 opened #566 "IPv6 disabled systems: listen tcp6 [::1]:179: bind: cannot assign requested address"
We have IPv6 disabled on our systems:

[code]

This causes kube-router v0.2.1 to emit an error message:

[code]

Since there seems no option to disable IPv6 I'd take this as a bug.

[2018-11-02 05:33] murali-reddy commented on #566
Its fixed in https://github.com/cloudnativelabs/kube-router/pull/555, which will be part of `0.2.2` release.

[2018-11-02 13:59] stephan2012 opened #567 "How to route pod traffic via different network interfaces?"
My Kubernetes nodes have a dedicated network interface that shall be used for the Kubernetes Pod network traffic (eth1) while all other traffic go for eth0. Also, the default gateway points to an IP address that is reachable via eth0. On eth1, a dedicated network is configured serving as transfer network for Pod traffic.

The setup looks like this:

* Node 1: Primary IP (eth0): 10.128.16.11, Pod t

[2018-11-02 17:17] murali-reddy commented on #567
@stephan2012 please try https://github.com/cloudnativelabs/kube-router/blob/master/docs/bgp.md#overriding-the-next-hop

[2018-11-02 17:33] murali-reddy commented on #561
thanks @kvaps for pointing out the PR

[2018-11-02 20:39] stephan2012 commented on #567
@murali-reddy, tried this without success. This feature seems to enable some automagic feature that I'm not sure how it works because all nodes are seeing each other over eth0 and eth1.

[2018-11-06 13:54] waldiTM opened #569 "Don't verify service scheduler"
kube-router tries to verify the configured scheduler via the `kube-router.io/service.scheduler` annotation.
If the value does not fall into the four pre-determined ones, it is silently discarded.

Please drop the verification and use the error from the kernel setup if the scheduler is missing.

[2018-11-07 10:30] waldiTM opened #570 "Default deny network policy and DSR services do not match"
DSR services use IP-IP tunnels to get packets to the target pod. If I also define a network policy with a deny rule to restrict access to that pod, the rule does not match on the tunneled target packet, but in the IP-IP packet and is dropped without a specific rule.

To make that reliable working, kube-router would need to inject IP-IP accept rules from all nodes to the pods.

[2018-11-07 12:20] waldiTM opened #571 "DRS mode needs to disable connection tracking"
Connections via a DRS enabled service and destined for a pod on another node will never see return packets. This means that all connection tracking entries for connections to this service will stuck in `SYN_SENT` and timeout after some time.

[2018-11-07 15:09] murali-reddy commented on #571
@waldiTM thanks for the reporting. Do you mean the connection towards IPVS? Is it help by IPVS?

[2018-11-07 15:13] murali-reddy commented on #570
@waldiTM thats interesting. thanks for reporting.

[2018-11-08 05:21] MarkDeckert opened #572 "Add TCP graceful termination"
Feature request:

When a pod is deleted, make an attempt to wait for TCP sessions to drain before killing the pod. Perhaps  by watching active connection count in ipvs and adding an additional wait period.  I would assume at some point you would want to just kill any long-running or stuck sessions regardless.

As a reference, see related functionality in kube-proxy: https://github.com/kubernetes/k

[2018-11-08 11:36] carnivorelogic commented on #165
Hey --- any news about resolution of putting mtu as variable?

Thanks

[2018-11-11 03:35] m1093782566 commented on #544
@xnaveira

Have you ever set `net.ipv4.vs.expire_nodest_conn=1`?

[2018-11-13 01:01] MarkDeckert commented on #464
After quite a bit of testing I believe the initial problem was caused by left-overs from a previous kube-proxy daemonset.  It appears that kube-proxy can leave "time-bombs" if it's able to start up and create iptables rules.  These leftover rules often don't have any effect until much later, depending on how dynamic the cluster is.  At that point it's so late after the initial cause that it can be

[2018-11-13 01:01] #464 closed

[2018-11-13 09:39] serbaut commented on #509
I have this issue too. CoreOS 1911.3.0, k8s 1.12.2, kube-router 0.2.1. It is easily reproduced by restarting the systemd-networkd service. Routes are flushed and never come back.

The actual root cause in production was a restart of the dhcp server so our node lost its dhcp lease and that caused a flush of the routes.

The only way I can see routes being updated is via BGP updates in watchBgpUpdat

[2018-11-14 23:19] pichanaquiMantaTer opened #574 "Kube-router, GoBGP and Kernel Routing Table, Service VIP Persists"
A service VIP is advertised from several k8s worker nodes to a route-reflector (GoBGP, external to cluster) with distinct next-hops all in subnets sometimes different from a selected worker node WN_0 not originating the VIP. In case one of the advertising worker nodes does belong to the same subnet as WN_0, as long as the BGP best next-hop is not in the subnet of WN_0, the VIP with next-hop does n

[2018-11-15 13:31] rillion commented on #507
Hi,

Could this change be made or atleast a flag to allow public ASN peers?

[2018-11-15 15:24] rillion commented on #507
Also,

It's actually coming from here:

pkg/controllers/routing/bgp_peers.go
`	for i := 0; i < len(ips); i++ {
		if !((asns[i] >= 64512 && asns[i] <= 65535) ||
			(asns[i] >= 4200000000 && asns[i] <= 4294967294)) {
			return nil, fmt.Errorf("Invalid ASN number \"%d\" for global BGP peer",
				asns[i])
		}`

[2018-11-16 05:43] murali-reddy commented on #507
Fixed by #576

[2018-11-16 05:43] #507 closed

[2018-11-19 22:20] linecolumn commented on #544
One of the suggestions was to set --notrack on host:

`# iptables -t raw -A PREROUTING -p tcp -d VIP --dport VPORT -j CT --notrack`

This makes issues with non local pod communication, AFAIK.

Also, for reference "one second delay communication" article which explains and provides some of solutions, [https://marc.info/?l=linux-virtual-server&m=151743061027765&w=2](url)

[2018-11-20 01:46] m1093782566 commented on #544
I have the same confusing feeling that why IPVS drops SYN packet that hits IPVS connection in TIME_WAIT state if such connection uses Netfilter connection tracking (conntrack=1)?

[2018-11-20 11:34] noillir commented on #282
Hi,

At this point i can't also find a way to block this with network policy either. Host ports seem to be always available on all registred external ip's (unless you make a svc to take that traffic)

[2018-11-21 10:03] roffe commented on #544
we have set conn_reuse_mode to 0 in the lastest build, could you test if you are experiencing the same problem with `cloudnativelabs/kube-router-git@sha256:93c843ce19a7d98e8d07849143cc612359cd97db10aba8dca46e98fa114cca79`

[2018-11-21 15:05] xnaveira commented on #544
@roffe I tried your image in our setup and it seems to solve the problem! When running with `latest` i do the following test:
`curl -s http://$SERVICE --local-port 2348 -w "%{time_total}\n"`
This command outputs the total time for the request and forces the local port to be the same across several tries. If run several times in a short interval it gives a time in the order of 10s of milliseconds f

[2018-11-21 15:14] roffe commented on #544
no, that was the only change

[2018-11-21 17:29] neeseius commented on #544
This does appear to the solve the problem in my testing, even when scaling up and down.

I know we toyed with these parameters before, but it interfered with scaling.
net.ipv4.vs.conn_reuse_mode=0
net.ipv4.vs.expire_nodest_conn=1

However I noticed this is new:
net.ipv4.vs.expire_quiescent_template = 1

Is that was made the difference?

[2018-11-21 18:02] xnaveira commented on #544
Could you link to the commit @roffe , I am also curious and in the same situation as @neeseius it seems.

[2018-11-21 18:18] roffe commented on #544
https://github.com/cloudnativelabs/kube-router/pull/577
https://github.com/cloudnativelabs/kube-router/pull/579

[2018-11-21 21:03] #566 closed

[2018-11-22 09:05] asteven commented on #429
@dlamotte are you still using kube-router? Any of the above ideas already implemented?

@murali-reddy can you give a short update on what your position is on the above proposal?

[2018-11-22 12:41] dlamotte commented on #429
@asteven I really wanted to implement this, but never got the time. At this point, I don't see myself implementing it in the near future unfortunately.

[2018-11-22 17:36] ticpu commented on #509
We have the same issue where Ubuntu unattended upgrades did a reexec on systemd and restarted systemd-networkd after an update. We were left with broken kube-routers which still advertise the IPs on the dummy-if. Restarting the kube-router will put the routes back and restarting a neighbour will also add the route for that neighbour.

This made me wonder if we could do like BIRD but better, BIRD w

[2018-11-22 20:39] roffe commented on #561
solved by #580

[2018-11-22 20:39] #561 closed

[2018-11-22 20:42] roffe commented on #544
v0.2.3 released with IPVS throughput fixes

[2018-11-22 20:42] #544 closed

[2018-11-22 23:13] #510 closed

[2018-11-22 23:30] #546 closed

[2018-11-22 23:39] igoratencompass commented on #544
Don't understand how can the last two be used in the same time when the kernel docs about `conn_reuse_mode` clearly says:

[code]
so by setting `net.ipv4.vs.conn_reuse_mode=0` you disable `net.ipv4.vs.expire_nodest_conn`.

[2018-11-22 23:41] igoratencompass commented on #544
And this is the main problem I see with this, or is it just me?

[2018-11-22 23:57] roffe commented on #544
must be a typo in the docs, kernel does not check if conn_reuse_mode is 0 when expiring nodest conn it seems: https://github.com/torvalds/linux/blob/master/net/netfilter/ipvs/ip_vs_core.c#L1982

[2018-11-23 08:11] roffe commented on #67
Imho we have covered this with examples and documentation now, closing. feel free to re-open if stil needed

[2018-11-23 08:11] #67 closed

[2018-11-23 08:16] roffe commented on #135
We can build on Mac fine with BUILD_IN_DOCKER option added in https://github.com/cloudnativelabs/kube-router/pull/377 , Closing the issue, feel free to reopen if needed

[2018-11-23 08:16] #135 closed

[2018-11-26 12:32] roffe commented on #494
@nhoughto could you please document the steps you did to get http_proxy working properly so we can add it as a example to the doc's `When running in an AWS environment that requires an explicit proxy:`

[2018-11-26 22:14] menardorama opened #581 "Netmask is always /24 can't define it"
Hi,

I am using kube-router since 6 months and it's working great (well except Centos 7 Ipv6 bug but that's not the issue today).

I am planning to deploy a bare-metal kubernetes cluster where I plan to permit more than 110 pods per node; as my servers are quite big (256Go of RAM,Dual Xeon Gold, Full SSD drives) I am planning to permit 300 pods per node (10 node cluster).
The thing is kube-router

[2018-11-26 22:20] roffe commented on #581
kube-router is not responsible for assigning the cidr to your nodes, it's done by [kube-controller-manager](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/). We just apply whats been decided.

The flag in question is

[code]

[2018-11-26 22:20] #581 closed

[2018-11-27 02:31] znoodl commented on #521
@murali-reddy
I found another way to fix this, https://success.docker.com/article/ipvs-connection-timeout-issue

But it's not works for me, do you have some plans to support config in kube-router?
or I have to set it by myself.

[2018-11-27 06:13] nhoughto commented on #494
Just the standard way to define environment variables on a pod:
https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/

and then standard proxy env variables - `Proxy environment variables`:
https://ec.haxx.se/usingcurl-proxies.html

[2018-11-27 06:13] #494 closed

[2018-11-27 08:47] roffe commented on #521
@znoodl Good find, i think we could implement a lower "net.ipv4.tcp_keepalive_time" without side effects here https://github.com/cloudnativelabs/kube-router/blob/master/pkg/controllers/proxy/network_services_controller.go#L278-L319

@murali-reddy @andrewsykim any thoughts on lowering the value. On my kops nodes the default is `7200`

[2018-11-27 10:03] znoodl commented on #521
I think you misunderstand.
For me, `net.ipv4.tcp_keepalive_time=600` not works, it should be test more before merge to kube-router.
And supporting ipvs timeout (command like `ipvsadm --set 7500 120 300`) config in kube-router is better.

[2018-11-27 10:20] roffe commented on #521
@znoodl for tcp_keepalive_time to work your client must utilise it, the change make sense IMHO even if it didn't work for you

[2018-11-27 10:35] roffe commented on #521
I think for gRPC you should configure https://github.com/grpc/grpc-go/blob/master/keepalive/keepalive.go

[2018-11-27 23:04] sanjmonkey opened #584 "Default route from eBGP peer, pulls kernel default upon withdraw/shutdown"
If an eBGP neighbor, say an upstream ToR, sends routes to kube-router which already exist in the kernel routing table, such as 0.0.0.0/0, and then the ToR either shuts down the session or withdraws 0/0, the node has its default route removed from kernel routing table, and is unreachable.

## Expected Behaviour
Kernel routing table to keep its configured default route, if it had one configured, whe

[2018-11-28 01:46] znoodl commented on #521
Yes, let program to do this is the best way, but it should have default config to avoid `Connection reset ` happens too frequently ( default IPVS timeout is 900s).

[2018-11-28 07:22] mikn opened #585 "kube-router consumes a lot of CPU with multiple network policies that target the same pods"
We are running with 10s of network policies per namespace, that most of them allow pods from a service namespace to connect to the pods themselves in that namespace on specific ports. We're however noticing that now that we're having in the region of 50 network policies, a lot of CPU is being spent on just setting and updating ipsets. (North of 0.5 cores per node)

[callgraphs.tar.gz](https://gith

[2018-11-28 07:31] roffe commented on #521
@znoodl i think you misunderstand. tcp_keepalive_time is not doing anything unless the client connecting has set SO_KEEPALIVE on the connection, in gRPC's case, I can't find that it does it but has it's own ping/keepalive mechanism on the wire.

[2018-11-28 11:41] murali-reddy commented on #585
@mikn kube-router is not currently well optimized for high rate of pod events. What it currently doing is to perform full sync of ipables based on all the network polices on each pod add/delete/update events.This should be optimised to delta sync of network policies that only affect the pods.

I am marking the bug as enhancement to be addressed in one of the coming releases.

[2018-11-28 11:43] murali-reddy commented on #584
Thanks for reporting this issue @sanjmonkey , please go ahead and raise enhancement request

[2018-11-28 16:00] sanjmonkey opened #586 "eBGP import policy options"
Where a kube-router has eBGP sessions with upstream ToR, a goBGP Export policy exists, but no Import policy.  This results in a default accept all.

In most cases, the ToR would be configured to deny sending anything.  However, if a mistake were to happen and the ToR starts sending BGP updates, kube-router has no control to do anything other than accept and install these, unless it has been config

[2018-11-29 01:41] znoodl commented on #521
@roffe Thank you, I figure it out. Now I set tcp_keepalive in my applications, it's working well.

[2018-11-29 16:51] bazuchan opened #588 "Forward rules are not getting added back after flushing manually"
kube-router add folowing iptables rules:
[code]
If I flush iptables rules manually `iptables -F`, all other rules gets added back, bot not this ones.

[2018-11-29 20:07] BobbyJohansen opened #589 "Kube-Router does not support rolling-update and 0 downtime"
Issue: When running a service with a deployment configuration with a rolling deployment policy the pods still go offline for an amount of time causing brief downtime in our service.

Expectation: kuberouter uses a load balancing policy (we use Round Robin) and changes available hosts in a sequence that causes no downtime I.E:
1) new pod comes up and liveliness probe deems the pod healthy, kube-rou

[2018-11-30 21:07] janse180 commented on #567
@stephan2012  Did you find a solution to this? I have the same use case.

[2018-11-30 21:30] stephan2012 commented on #567
@janse180: Unfortunately I have not. In Calico you can pass the interface name but I have not found a similar option for kube-router. This makes it impossible to separate workload from management traffic.

[2018-11-30 22:57] runningman84 opened #591 "arm64 support"
It looks like kube-router supports arm64:
https://github.com/cloudnativelabs/kube-router/commit/c7ce39836788d66b634b3c7c4f4c935468394bad

But the image and or the daemonset kubeadm-kuberouter-all-features.yaml does not work on arm64:

[code]

[2018-12-01 15:18] runningman84 commented on #591
This seems to be a duplicate of https://github.com/cloudnativelabs/kube-router/issues/503

I have tried to build it manually but I got his error:
[code]

Do you have any guide how to build it for arm64?

[2018-12-01 20:18] runningman84 commented on #503
I have spent some time creating a multi stage docker build for kube-router with multi arch support:
https://hub.docker.com/r/runningman84/kube-router
https://github.com/runningman84/docker-kube-router
I have tested these images in a mixed arm64/amd64 env...

[2018-12-01 20:19] #591 closed

[2018-12-03 05:23] murali-reddy opened #592 "iptables >= 1.8 compatibility issue"
https://github.com/kubernetes/kubernetes/issues/71305

[2018-12-04 12:36] releasekraken opened #593 "kube-router can't connect to api"
`kubectl apply -f https://raw.githubusercontent.com/cloudnativelabs/kube-router/master/daemonset/kubeadm-kuberouter.yaml`

`E1115 10:22:27.251657       1 streamwatcher.go:109] Unable to decode an event from the watch stream: http2: server sent GOAWAY and closed the connection; LastStreamID=3497, ErrCode=NO_ERROR, debug=""
E1115 10:22:27.251789       1 streamwatcher.go:109] Unable to decode an even

[2018-12-04 13:40] #593 closed

[2018-12-04 21:21] janse180 commented on #567
Looking at the code it doesn't seem like this is possible right now. There are several locations where the Peer IP addresses are determined based on the NodeInternalIP or NodeExternalIP assigned by kubernetes. This makes it impossible for me to use this project as an alternative to calico on my bare metal cluster as the kubernetes control plane network is physically separate from my pod traffic ne

[2018-12-05 00:45] murali-reddy commented on #567
@stephan2012 can you please point me the documentation of calico.

Let me try to understand what is that missing in kube-router. @stephan2012 from your initial description if i make BGP server listen on just eth1, I would expect the routes and next hops for all the node CIDR's should have been all on eth1 network. Let me try to reproduce and see.

[2018-12-05 10:30] stephan2012 commented on #567
@murali-reddy: See https://docs.projectcalico.org/v3.3/reference/node/configuration#ip-autodetection-methods on how to configure a network interface for inter-Pod network traffic. It requires a transfer network configured on the interfaces.

Just making the BGP peer listen on a different interface could redirect the Pod traffic through that interface. However, when using MetalLB this is not an opt

[2018-12-07 10:00] roffe commented on #589
are you using `--bgp-graceful-restart` in your KR deployment?